.hub__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  height: 5rem;

  .hub__header__logo {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 1rem;
  }

  .hub__header__logout {
    margin-right: 1.5rem;
  }

  .hub__header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    .hub__header__button {
      display: flex;
      justify-content: center;
      align-items: center;
  
      
      width: 5rem;
      height: 5rem;
    }

    .hub__header__button:hover {
      background: rgba(66, 62, 62, 0.1);
    }
  }
}
