<!DOCTYPE html>
<html lang="en">
  <%= partial "head_general.html", assigns %>
  <body>
    <main role="main" class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
