<html>
  <head>
    <title><%= @email.subject %></title>
  </head>
  <body>
      <div id="mobile__menu__overlay__background__id" class="mobile__menu__overlay__background">
        </div>
        
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
