<!DOCTYPE html>
<html lang="en">

  <%= partial "head.html", assigns %>

  <body>
    <%= partial "header.html", assigns %>

    <main role="main" class="main" id="content">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= partial "footer.html", assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
