<!DOCTYPE html>
<html>
  <%= partial "head_general.html", assigns %>
  <body>
    <!-- Mobile Menu -->
    <div id="mobile__menu__overlay__background__id" class="mobile__menu__overlay__background"></div>
    <!-- Cookies Popup -->
    <div id="cookies__popup">
      <%= partial "cookies_popup.html",%{ conn: @conn } %>      
      <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/cookiepopup.js") %>'></script>
    </div>
    <!-- Main -->
    <main id="general__main__content">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Footer -->
    <div id="footer">
      <%= partial "layout/footer.html", assigns %>    
    </div>
    <!-- Bottom Bar -->
    <%= partial "bottom_bar.html", assigns %>
  </body>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/homepage.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/darkmode.js") %>'></script>
</html>
