<!DOCTYPE html>
<html lang="en">
  <%= partial "hub/head_hub.html", assigns %>

  <body>
      <div id="mobile__menu__overlay__background__id" class="mobile__menu__overlay__background">
        </div>
        
    <div class="hub">
      <%= partial "layout/header.html", assigns %>
      
      <main role="main" class="hub__bottom">
        <%= partial "hub/sidebar.html", assigns %>

        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
