<!DOCTYPE html>
<html lang="en">
  <%= partial "head_dashboard.html", assigns %>

  <body>
    <div class="hub">
      <%= partial "header.html", assigns %>
      
      <main role="main" class="hub__bottom">
        <%= partial "sidebar.html", assigns %>

        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
