<div class="hovering__banner">
  <h3 class="hovering__banner__title">Hovering Meditation Technique</h3>
  <h4 class="hovering__banner__sub__title">New to Meditation? Still don't quite 'get it'?</h4>
  <p>Try Hovering! </p>

  <div class="circle__container cr">
    <div class="circle cri">
      Hover
    </div>
  </div>

  <a href="https://hovering.neverfapdeluxe.com/">Web App</a>

  <a class="hovering__banner__link" href="https://tryhovering.com/">Learn More</a>
</div>