<%= partial "pricing/pricing_container.html",
  %{
    conn: @conn,
    price: "$7 USD",
    title: "The NeverFap Deluxe Meditation Fundamental Series",
    points: [
      "Fully Understand The Fundamentals Of Effective Meditation",
      "4 Part Meditation Audio Series"
    ],
    description: nil
  }
%>
