<%= partial "pricing_container.html",
  %{
    conn: @conn,
    price: "$4 USD",
    title: "The NeverFap Deluxe Meditation Fundamental Series",
    points: [
      "Fully understand the fundamentals of effective Meditation",
      "4 part Meditation audio series"
    ],
    description: nil
  }
%>
