<%= partial "pricing/pricing_container.html",
  %{
    conn: @conn,
    price: "$9 USD",
    title: "NeverFap Deluxe Fundamental Meditation Series",
    points: [
      "Fully Understand The Fundamentals Of Effective Meditation",
      "4 Part Meditation Audio Series"
    ],
    description: nil
  }
%>
