<div class="single__wrapper">   
  <h1 class="single__title"><%= @item["title"] %> <img src="/images/logo.png" class="logo__square" alt=""/><a href="#contact__form" class="link contact__form__title-thing" style="margin-left: 1rem;"><p style="display: inline-block;">#contact form</p></a></h2>
  <div class="single__content" style="margin-bottom: 0;">
    <%= @item["content"] %>
  </div>
</div>

<%= partial "links/patreon.html", assigns %>
