<div class="single__wrapper">   
  <h1 class="single__title">Thank you for unsubscribing! <img src="/images/logo.png" class="logo__square" alt=""/></h2>
  <div class="single__content" style="margin-bottom: 0;">
    <p>You don't want anymore newsletter emails.</p>
    <p>I totally get it. Stay safe and I wish you best of luck with your future and life in general.</p>
  </div>
</div>
  