<div class="account__info">
  <p class="account__info__title">Wanna connect? Check out our discord channel to chat.</p>
  <div class="account__buttons">
    
    <a class="account__patreon__button__container" href="https://www.discord.com/NeverFapDeluxe">
      <img class="account__patreon__button__logo" src="/images/patreon__logo.jpg" />
      <p class="account__patreon__button__text"><span class="account__patreon__button__text--display">BECOME A </span>PATRON</p>
    </a>
  </div>
</div>
