<p>Essentially, you don't have access to this module yet.</p>
<p>The way these courses and module have been setup is that they abide to the frequency of the email scheduler. What this means is that you can only access modules which you have reached up to in your email.</p>
<p>For example, if you have reached Day 5 of the </p>
<p>The same principle applies to weekly courses.</p>
<p>This has been done on purpose to ensure you're practicing these exercises extensively and taking them seriously, as per the schedule we have created for you.</p>
<p>These exercises do not work if you do them once. They work through the principles of practice and consistency, as we have been mentioned extensively throughout the website.</p>
<p>Otherwise, you're simply not following the process and that's obviously gonna end in tears.</p>
<p>We're here to do it right, so please follow the specified instructions.</p>
<p>Stick to the schedule, trust the process and you will come out on-top.</p>
