<p>You don't have access to this module yet as you have not yet reached this particular week/day in the series.</p>
<p>You only have access to modules which you have reached up to.</p>
<p>This has been done on purpose to ensure you're practicing these exercises extensively and taking them seriously, as per the schedule we have created for you.</p>
<p>Stick to the schedule, trust the process and you will come out on-top.</p>
