<div class="reddit__question__banner">
  <h2>Do you have any questions?</h2>
  <div class="reddit__question__banner__box">
    <p>Head on down to our subreddit where we can help you with #ArticleQuestion </p>
  </div>
</div>