<%= partial "single_title_content.html", %{ conn: @conn, title: @item["title"], content: @item["content"] } %>

<!-- NFD Mobile App -->
<img src="/images/screenshots/nfd_mobile_home.png" />
<a class="mobile__android__link" href='https://play.google.com/store/apps/details?id=com.ueno.nfdmobilev2&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="mobile__android__link__image" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>

<%= partial "links/paypal.html", assigns %>
<%= partial "promotion_footer.html", assigns %>
