<%= partial "single_title_content.html", %{ title: @item["title"], content: child_content(@item["children"], "donations-patreon") } %>
<%= partial "links/patreon.html", assigns %>

<div class="single__wrapper">
  <div class="single__content" style="margin-bottom: 0;">
    <%= raw child_content(@item["children"], "donations-paypal") %>
  </div>
</div>

<%= partial "links/paypal.html", assigns %>
