<%= partial "single_title_content.html", %{ conn: @conn, title: @item["title"], content: child_content(@item["children"], "donations-patreon") } %>
<%= partial "links/paypal.html", assigns %>

<div class="single__wrapper">
  <div class="single__content" style="margin-bottom: 0;">
    <%= raw child_content(@item["children"], "donations-paypal") %>
  </div>
</div>

<%= partial "links/loginregister_top--without-mobileSecondary.html", assigns %>
<%= partial "promotion_footer.html", assigns %>
