<%= partial "single_title_content.html", %{ conn: @conn, title: @item["title"], content: @item["content"] } %>
<%= partial "links/patreon.html", assigns %>

<%= partial "links/loginregister_top--without-mobileSecondary.html", assigns %>
<%= partial "promotion_footer.html", assigns %>
