<div class="single__wrapper">
  <h1 class="single__title">NeverFap Deluxe Bible <img src="/images/logo.png" class="logo__square" alt=""/></h2>

  <div class="single__content" style="margin-bottom: 0;">
    <%= raw @item["content"] %>
  </div>
</div>

<%= partial "links/patreon.html", assigns %>
