<div class="single__wrapper">    
  <h1 class="single__title"><%= @item["title"] %></h1>
  <div class="single__content">
    <%= @item["content"] %>
  </div>

  <div class="homepage__hero homepage__guide__wrapper">
    <a class="homepage__guide" href="/guide">NeverFap Deluxe Guide</a>
  </div>
</div>

<%= partial "links-accountInfo.html", assigns %>

