<div class="single__wrapper">   
  <h1 class="single__title">Final</h2>
  <div class="single__content" style="margin-bottom: 0;">
  </div>
</div>

<div class="single__wrapper">   
  <h1 class="single__title">Season Two</h2>
  <div class="single__content" style="margin-bottom: 0;">
  </div>
</div>


<div style="margin-top: 18rem; margin-bottom: 18rem;"></div>

