<div class="single__wrapper">
  <h1 class="single__title">Test</h2>
  <div class="single__content" style="margin-bottom: 0;">

  </div>
</div>

<div class="homepage__content">
  <div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

  <div class="homepage__section homepage__tldr" style="margin-top: 2rem!important;">
    <!-- <h1 style="text-shadow: -2px 2px #00ffee;">In summary, here's what you'll be practicing consistently.</h1> -->
    <h2>word.</h2>
    <div class="homepage__tldr--signature">NeverFap Deluxe.</div>
  </div>

  <div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

  <div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

  <div style="width: 400px;" class="homepage__section homepage__section--test--black">
    <h1 style="margin-bottom: 4rem;">word <u style="border-bottom: 4px solid rgba(255,46,182,1); padding-bottom: 0rem;">self-harm</u></br> you tool.</h1>
    <div class="homepage__tldr--signature">NeverFap Deluxe.</div>
  </div>

</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="account__info">
  <p class="account__info__title account__info__title--test">word <span class="delicious__promotion">cherish</span> yourself, sweetheart. <i class="em em-admission_tickets"></i></p>
</div>



<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="account__info">
  <p class="account__info__title account__info__title--test">If you've lost balance it's because you've <span class="delicious__promotion">failed</span> to remain calm and collected. <i class="em em-man_in_lotus_position"></i></p>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div style="margin-bottom: 2px; border-bottom: 5px solid #00ffee;"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid rgba(255,46,182,1);"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid #00ffee;"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid rgba(255,46,182,1);"></div>
<div class="account__info">
  <p class="account__info__title account__info__title--test">While there's nothing homophobic about relapsing. </br> You probably shouldn't do it.</p>
</div>
<div style="margin-bottom: 2px; border-bottom: 5px solid rgba(255,46,182,1);"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid #00ffee;"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid rgba(255,46,182,1);"></div>
<div style="margin-bottom: 2px; border-bottom: 5px solid #00ffee;"></div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>


<div class="magenta__banner">
  <div class="magenta__banner__title__container">
    <h2 class="magenta__banner__title">word.</h2>
  </div>
</div>



<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__section homepage__section--test--black">
  <div class="five__principles__guide" style="margin-bottom: 2.5rem;">
    <h2 style="margin-top: 2.5rem; margin-bottom: 2.5rem;">Stranger, do you...</h2>
    <div class="five__principles__guide__item__cont"><div class="five__principles__guide__item">Value your mental health above all.</div></div>
    <div class="five__principles__guide__item__cont"><div class="five__principles__guide__item">Quiet and focus your mind.</div></div>
    <div class="five__principles__guide__item__cont"><div class="five__principles__guide__item">Love and accept youself unconditionally.</div></div>
    <div class="five__principles__guide__item__cont"><div class="five__principles__guide__item">Commit to long-term thinking.</div></div>
  </div>
  <div class="homepage__tldr--signature">NeverFap Deluxe.</div>

</div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="unhealthy__banner">
  <div class="homepage__section__closer homepage__section--test--black" style="width: 400px;">
    <span class="articles__link--magenta cursor__default">word!</span>
    <h2 class="banner__points">word!</h2>
    <div style="border-top: 3px solid black;"></div>
    <!-- <div class="homepage__tldr--signature--top" style="top: 1.2rem;">NeverFap Deluxe.</div> -->
  </div>

</div>


<div class="cyan__banner">
  <div class="homepage__section__closer homepage__section--test--black" style="width: 400px;">
    <span class="articles__link--magenta cursor__default" style="border: 5px solid rgba(255,46,182,1);">word.</span>
    <h2 class="banner__points">word.</h2>
    <div style="border-top: 3px solid white;"></div>
    <!-- <div class="homepage__tldr--signature--top" style="top: 1.2rem;">NeverFap Deluxe.</div> -->
  </div>

</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__section">
  <ul class="five__principles__list__main">
    <span><li class="five__principles__item__main">word</li></span>
  </ul>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__section">

  <span style="margin-top: 1rem;" class="articles__link cursor__default">Some healthy coping mechanisms include.</span>

  <h2 class="banner__points">Remaining calm and calculated in the face of stress and uncertainty.</h2>
  <div style="border-top: 3px solid #00ffee;"></div>
  <h2 class="banner__points">Keeping our minds wide, aware and open at all times.</h2>
  <div style="border-top: 3px solid #00ffee;"></div>
  <h2 class="banner__points">Not taking our difficult feelings and emotions personally.</h2>
  <div style="border-top: 3px solid #00ffee;"></div>
  <h2 class="banner__points">Openly communicating our problems and feelings to others.</h2>
  <div style="border-top: 3px solid #00ffee;"></div>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__section">
  <h1 class="h1__black">WORD <span class="cyan__box__border" style="z-index: 400;">Practice</span> and <span class="cyan__box__border">Consistency</span><span class="home__dot">.</span> </i> <div class="box__abs">NeverFap Deluxe.</div></h1> <!-- <i class="em em-man_climbing"> -->
</div>



<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="black__banner">
  <div class="black__banner__title__container">
    <!-- <h2 class="black__banner__title" style="margin-bottom: 3rem;">Ultimately, there are three broad categories of healthy coping mechanism <span class="black__banner__broad">NeverFap</span> <span class="black__banner__broad">Deluxe</span> delivers.</h2> -->
    <h2 class="black__banner__title" style="margin-bottom: 3rem;">Ultimately, there are three broad categories of healthy coping mechanism. <span class="black__banner__broad">#NeverFapDeluxe</span></h2>
    <h1 class="black__banner__title black__banner__title--cat">Awareness</h1>
    <h1 class="black__banner__title black__banner__title--cat">Calmness</h1>
    <h2 class="black__banner__title">&</h2>
    <h1 class="black__banner__title black__banner__title--cat">Ambition</h1>
  </div>
</div>


<div class="black__banner">
  <div class="black__banner__title__container">
    <!-- <h2 class="black__banner__title" style="margin-bottom: 3rem;">Ultimately, there are three broad categories of healthy coping mechanism <span class="black__banner__broad">NeverFap</span> <span class="black__banner__broad">Deluxe</span> delivers.</h2> -->
    <h2 class="black__banner__title" style="margin-bottom: 3rem;">Ultimately, there are three broad categories of healthy coping mechanism. <span class="black__banner__broad">#NeverFapDeluxe</span></h2>
    <h1 class="black__banner__title black__banner__title--cat" style="font-size: 2rem;">Stop struggling.</h1>
    <h1 class="black__banner__title black__banner__title--cat" style="font-size: 2rem;">Start meditating.</h1>
    <h1 class="black__banner__title black__banner__title--cat" style="font-size: 2rem;">Stop struggling.</h1>
    <h1 class="black__banner__title black__banner__title--cat" style="font-size: 2rem;">Start meditating.</h1>

  </div>
</div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>


<div class="homepage__section">
  <h2 class="black__banner__title--stand">Awareness.</h2>
</div>

<div class="account__info">
  <p class="account__info__title">This is your mana. You'll need as much of this stuff as you can and as a result, you'll always need to work on your <u><b>awareness</b></u>.</p>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<!-- <div style="width: 500px; margin-left: 6rem"> -->
  <div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
  <div class="homepage__section homepage__section--no-margin">
    <h1>Word</h1>
  </div>
  <div style="margin-bottom: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
  <div class="homepage__section homepage__section--no-margin">
    <h1>word</h1>
  </div>
  <div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
  <div class="homepage__section homepage__section--no-margin">
    <h1>word</h1>
  </div>
  <div style="margin-bottom: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
  <div class="homepage__section homepage__section--no-margin">
    <h1>word?</h1>
  </div>
  <div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>

  <p>text: AYFD?</p>
<!-- </div> -->

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>


<div class="homepage__section homepage__section--no-margin">
  <h1>Word.</h1>
</div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 4px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 6px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 12px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 24px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 48px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; height: 96px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; height: 192px; background: #00ffee;"></div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>


<div style="margin-bottom: 1rem; margin-top: 1rem; height: 24px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 20px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 16px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 12px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 8px; background: rgba(255,46,182,1);"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 4px; background: rgba(255,46,182,1);"></div>

<div style="margin-top: 2.5rem; margin-bottom: 2.5rem;">
  <div class="reddit__question__banner" style="margin-bottom: 0.7rem;">
    <h2>Become part of the NeverFap Deluxe Family?</h2>
    <div class="reddit__question__banner__box">
      <p>Head on down to our NeverFap Deluxe subreddit or Discord where myself and others can help you with your questions.</p>
    </div>
  </div>

  <div class="account__buttons" style="flex-direction: row!important;">
    <a style="margin-right: 1.5rem!important;" class="account__reddit__button__container" href="<%= Application.get_env(:nfd, :social_reddit_url) %>">
      <img class="account__reddit__button__logo" src="/images/reddit__logo.png" />
      <p class="account__reddit__button__text">NEVERFAP <span class="account__reddit__button__text--display">REDDIT</span></p>
    </a>
    <a class="account__discord__button__container" href="<%= Application.get_env(:nfd, :social_discord_url) %>">
      <img class="account__discord__button__logo" src="/images/discord__logo.png" />
      <p class="account__discord__button__text">DISCORD <span class="account__discord__button__text--display">CHANNEL</span></p>
    </a>
  </div>
</div>

<div style="margin-bottom: 1rem; margin-top: 1rem; height: 4px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 8px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 12px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 16px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 20px; background: #00ffee;"></div>
<div style="margin-bottom: 1rem; margin-top: 1rem; height: 24px; background: #00ffee;"></div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>


<div class="email__campaign__full__width" style="position: relative; width: 500px; height: 660px; margin-left: 6rem;">
  <h1 class="email__campaign__title">word</h1>
  <div class="homepage__tldr--signature">NeverFap Deluxe.</div>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="email__campaign__full__width" style="position: relative; width: 500px; margin-left: 6rem;">
  <div class="email__campaign__box__two">
    <h2 class="email__campaign__sub__title">word.</h2>
  </div>
  <div class="homepage__tldr--signature">NeverFap Deluxe.</div>
</div>


<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="email__campaign__full__width" style="position: relative; width: 500px; height: 500px; margin-left: 6rem;">
  <div class="email__campaign__box__two">
    <div class="email__campaign__text__container">
      <div class="email__day__container">
        <div class="email__day__container__item">
          <h1>word.</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage__tldr--signature">NeverFap Deluxe.</div>
</div>



<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__splitter--test">
  <div class="homepage__splitter">
    <div class="homepage__splitter__box homepage__splitter__box--top">
      <div>
        <h2 class="homepage__splitter__box__title">#accountability program</h2>
        <p>Maybe you're just lookin' for a "support group" to share cuddles with!? Well, The Reade&copy; has you covered!</p>
        <p>Join our Discord Server today. It's sexy.</p>
        <a class="homepage__splitter__box__button homepage__splitter__box__button--pink" href="<%= Application.get_env(:nfd, :social_discord_url) %>">Participate</a>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12rem; margin-bottom: 12rem;"></div>

<div class="homepage__splitter--test">
  <div class="homepage__splitter homepage__splitter--podcast">
    <div class="homepage__splitter__box">
      <div>
        <h2 class="homepage__splitter__box__title">The NeverFap Deluxe Podcast</h2>
        <p>Can't be bothered reading for the next 5 minutes? Well, unfortuately that's just too bad and I'm going to have to ask you to read anyway!</p>
        <p>Listen to the NeverFap Deluxe Podcast, you slacka!</p>
        <a class="homepage__splitter__box__button" href="https://neverfapdeluxe.com/podcast">Listen</a>
      </div>
    </div>
  </div>
</div>
