.emergency__page {
  background: white;
  color: black;
  border: 5px solid rgba(255,46,182,1);

  .emergency__title {
    text-shadow: -3px 3px rgba(255,46,182,1);
    font-size: 5rem;
    line-height: 7.5rem;
    margin: 0!important;
    padding: 3rem;
  }
}