.emergency__page {
  background: $white-text;
  color: $black-text;
  // border: 5px solid $magenta;

  .emergency__title {
    text-shadow: -3px 3px $magenta;
    font-size: 8rem;
    line-height: 7.5rem;
    margin: 0!important;
    padding: 6rem;
  }
}

.emergency__one__job {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: $cyan;
  color: $white-text;
}

.emergency__right__now {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: $white-text;
  color: $cyan;
  border: 5px solid $cyan;
}