.everything__container__outer {
  display: flex;
  justify-content: center;
  width: initial;
}

.everything__container {
  width: 100%;
  background: $white-text;

  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 50px;
  grid-row-gap: 30px;
  grid-auto-rows: auto;
  justify-content: center;

  padding: 1rem;

  // border: 4px solid $black-background;
//   .everything__title {

//   }

//   .everything__sub__title--main {
//     background: $white-text;
//     color: $black-text;
//     padding: 1.6rem;
//     margin-top: 0.6rem;
//   }

//   .everything__sub__title {
//     background: $white-text;
//     border: 4px solid $black-background;
//     box-shadow: -5px 5px 0px 0px $cyan;
//     color: $black-text;
//     padding: 1.6rem;
//     margin-top: 0.6rem;
//     margin-bottom: 2.6rem;
//   }

  .everything__section {
    // padding: 1rem;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
  }

//   .everything__item--smaller {
//     padding: 0.2rem!important;
//     padding-left: 1rem!important;
//     margin-bottom: 1rem;
//   }

  .everything__item {
    display: block;
    // margin-bottom: 2rem;

    color: $black-text;
    // border: 4px solid $magenta;
    // box-shadow: -5px 5px 0px 0px $cyan;

    // border: 4px solid $white-text;
    // box-shadow: -4px 4px 0px 0px $white-text;
    // padding: 1rem;
    cursor: pointer;

    border-bottom: 1px solid $black-text;

    transition: .2s box-shadow, .2s border;

    // .everything__item__title__menu {

    // }

    .everything__item__title {
      margin-bottom: 0.6rem;
    }
    .everything__item__description {
      display: none;
    }
  }

  .everything__item:hover {
    text-shadow: -3px 3px $cyan;
    // border: 4px solid $magenta;
    // box-shadow: -4px 4px 0px 0px $cyan;
  }


//   .everything__item__greyed {
//     background: grey;
//   }

  .everything__wip {
    display: none;
  }
}

// @media screen and (min-width: 420px) {
//   .everything__container {

//     .everything__title {

//     }

//     .everything__sub__title {

//     }


//     .everything__item {
//       width: 90%;
//       box-shadow: -5px 5px 0px 0px $black-background;

//       .everything__item__title {

//       }
//       .everything__item__description {

//       }
//     }

//     .everything__item:hover {
//       box-shadow: -10px 10px 0px 0px $cyan;
//     }
//   }
// }

.mobile__overlay__close__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mobile__overlay__close {
    margin-right: 0;
  }
}

@media screen and (min-width: 420px) {
  .everything__container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, 350px);
  }
}

@media screen and (min-width: 768px) {
  .mobile__overlay__close__container {
    display: block;
  }

  .everything__container__outer {
    width: 700px;
    margin: 0 auto;
  }

  .everything__container {
    grid-template-columns: repeat(2, 1fr);

    .everything__title {

    }

    .everything__sub__title {

    }

    .everything__section {

    }

    .everything__item {

      .everything__item__title {

      }
      .everything__item__description {

      }
    }
  }
}


// @media screen and (min-width: 980px) {
//   .everything__container {

//     .everything__item {
//     }
//   }
// }


// @media screen and (min-width: 1280px) {
//   .everything__container {

//     .everything__title {

//     }

//     .everything__sub__title {

//     }

//     .everything__item {

//       .everything__item__title {

//       }
//       .everything__item__description {

//       }
//     }
//   }
// }


// .accountability__example__container {
//   padding: 1.4rem;
//   border: 4px solid $black-background;
//   margin-bottom: 3rem;

//   .accountability__text__container {
//     p {
//       margin-top: 0.4rem!important;
//       margin-bottom: 0.4rem!important;
//     }
//   }
// }