.h1__yus {
  position: relative;
  padding: 1.5rem;
  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: #fdfdfd;
  // line-height: 4rem;
}

.homepage__main {
  #veteran-neverfapper-body {
    position: relative;
    display: none;
    transition: .2s;
    left: -100vw;
  }

  #new-neverfapper-body {
    position: relative;
    transition: .2s;
    left: 0;
  }
}

.homepage__content {
  h1 {
    font-size: 2.7rem;
    line-height: 4.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .account__info {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 5px solid #00ffee;
    padding-top: 0;
    // padding-bottom: 3rem;
  }
}

.delicious__promotion {
  text-shadow: -1px 1px rgba(255,46,182,1);
}

.homepage__tldr--signature {
  display: none;
}

.homepage__tldr {
  position: relative;
  padding: 1.5rem;
  // margin-top: 3rem!important;

  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: #fdfdfd;

  h1 {
    background: #23272A;
    border: 4px solid #fdfdfd;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
  }
  h2 {
    width: 100px;
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.homepage__tldr--last {
  margin-top: 5rem!important;
  margin-bottom: 5rem!important;
}

.homepage__hero--secondary {
  .homepage__hero__title {
    margin-top: 4.5rem;
  }
}

.homepage__hero--third {
  height: 100vh;
}

.homepage__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: #fdfdfd;

  .homepage__hero__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .homepage__toggle {
      position: absolute;
      right: -30px;
      top: 52px;

      .homepage__toggle__button {
        padding: 0.6rem;
        background: #fdfdfd;
        color: #404242;
        box-shadow: -5px 5px 0px 0px #00ffee;

        font-size: 0.8rem;

        margin-bottom: 0.8rem;

        transition: .2s;
        cursor: pointer;
      }

      .homepage__toggle__button:hover {
        box-shadow: -5px 5px 0px 0px #404242;
      }
    }
  }

  .header {
    #dark__mode__button {
      display: none;
    }

    .mobile__menu__overlay__button {
      display: none;
    }

    position: relative;
    top: -2.13rem;

    margin-bottom: 0rem;
    margin-top: 3rem;

    background: initial;

    .header__links {
      top: 0;
      border-right: none;
      border-left: none;

      .header__link__wrapper--disappear {
        display: flex!important;
      }

      .header__link__wrapper--main {
        display: flex!important;
      }

      .header__link__wrapper {
        position: relative;
        border-bottom: 5px solid #fdfdfd;
        // background: grey;

        transition: .1s ease-in;
        .header__link {
          color: #fdfdfd;
        }
      }

      #link__premium {
        // border-bottom: 5px solid rgb(0, 255, 0);
        .header__link {
          // border-bottom: none!important;
        }
      }

      .header__link__wrapper:hover {
        background: lighten(orange, 10%);
        box-shadow: -5px 5px 0px 0px #00ffee;
      }

      // .header__link__wrapper:hover .header__link {
      //   color: #00ffee;
      // }

      #link__guide:hover .header__link__wrapper--guide {
        font-size: 0.95rem;
      }

      // .header__link__wrapper--guide--good-choice {
      //   display: none;
      // }

      .header__link__wrapper--guide {
        display: none;
        position: absolute;
        // top: -0.6rem;
        top: -1.8rem;
        left: 3.9rem;
        width: 7rem;
        transform: rotate(-20deg);
        font-size: 0.85rem;
        transition: .1s ease-out;

        color: #00ffee;
        text-decoration: underline;
        text-decoration-color: #00ffee;
      }

      .header__link__wrapper:hover .header__link {
        // color: #404242;
      }
    }

    .header__banner__home:hover {
      display: none;
    }
    .header__banner__guide:hover {
      display: none;
    }
    .header__banner__articles:hover {
      display: none;
    }
    .header__banner__practices:hover {
      display: none;
    }
    .header__banner__podcast:hover {
      display: none;
    }
    .header__banner__community:hover {
      display: none;
    }
    .header__banner__about:hover {
      display: none;
    }

    #link__home:hover + .header__banner__home {
      display: none;
    }
    #link__guide:hover + .header__banner__guide {
      display: none;
    }
    #link__articles:hover + .header__banner__articles {
      display: none;
    }
    #link__practices:hover + .header__banner__practices {
      display: none;
    }
    #link__podcast:hover + .header__banner__podcast {
      display: none;
    }
    #link__community:hover + .header__banner__community {
      display: none;
    }
    #link__about:hover + .header__banner__about {
      display: none;
    }



  }

  .homepage__hero__title {
    box-shadow: -5px 5px 0px 0px #404242;

    color: #fdfdfd;
    border: 4px solid #fdfdfd;
    background: #23272A;

    padding: 1rem;

    padding-left: 1.8rem;
    padding-right: 1.8rem;

    text-align: center;
    font-size: 2.9rem;
    line-height: 4rem;

    transition: 6s box-shadow;
  }

  .homepage__hero__title:hover {
    box-shadow: -30px 30px 0px 0px #404242;
  }

  // .homepage__hero__title:hover + .homepage__hero__title__secondary {
  //   font-size: 2.3rem;
  // }

  .homepage__hero__title__secondary {
    width: 95%;
    font-size: 2.1rem;
    text-align: center;
    position: relative;
    top: 0.5rem;
    margin-bottom: 4.5rem;
    color: #fdfdfd;
  }

  .deluxe__font {
    font-size: 3.3rem;
  }
}

.homepage__recovered__porn__addict__list {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding-left: 0;

  .homepage__recovered__porn__addict__item__lead {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    // border-bottom: 1px solid #404242;
    display: inline-block;

    text-decoration-line: underline;
    text-decoration-color: #404242;
    color: #404242;
  }

  .homepage__recovered__porn__addict__item {
    // font-size: 1.1rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 0.4rem;
    display: inline-block;
    margin-left: 0.3rem;
    margin-bottom: 0.8rem;
    color: #404242;    
    // color: rgba(255,46,182,1);
    // text-decoration-line: underline;
    // text-decoration-color: #00ffee;
    // border-bottom: 2px solid #00ffee;
  }

  .homepage__recovered__porn__addict__spacer {
    margin-top: 2rem;
  }

  // .homepage__recovered__porn__addict__item::before {
  //   content: "";
  //   position: absolute;
  //   // left: -5%;
  //   bottom: -1px;
  //   height: 2px;
  //   // background-color: rgb(255, 187, 0);
  //   opacity: 0.4;
  //   z-index: -1;
  // }

  .orange__item::before {
    background-color: rgb(255, 187, 0);
  }

  .pink__item::before {
    background-color: rgb(247, 0, 255);
  }

  .cyan__item::before {
    background-color: rgb(0, 247, 255);
  }

}

.homepage__guide__wrapper {
  height: 400px!important;

  .homepage__guide {
    box-shadow: -5px 5px 0px 0px #00ffee;

    color: #fdfdfd;
    border: 4px solid #fdfdfd;
    background: none;

    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;

    transition: .3s box-shadow;
  }

  .homepage__guide:hover {
    box-shadow: -10px 10px 0px 0px #404242;
    bottom: -5px;
    left: -5px;
  }

  .homepage__guide:focus {
    outline: 0;
  }
}

.homepage__section {
  margin: 1rem;
}

.homepage__section__closer {
  // margin: 1rem;
}

.homepage__section--no-margin {
  margin: 0!important;
  padding-left: 1rem;
}

.homepage__section--adapt {
  margin-bottom: 3rem;
}

.homepage__splitter--discord {
  background: rgba(255,46,182,1)!important;
  flex-direction: column-reverse!important;
}

.homepage__splitter--podcast {
  background: rgba(255,46,182,1)!important;
  flex-direction: column-reverse!important;
}

.homepage__splitter__box--discord {
  // box-shadow: 0 14px 56px 0 white, 0 12px 29px 0 #fdfdfd;
  // padding: 1rem!important;
  justify-content: flex-start!important;
}

.homepage__splitter__box--podcast {
  // padding: 1rem!important;
  // box-shadow: 0 14px 56px 0 white, 0 12px 29px 0 #fdfdfd;
  justify-content: flex-start!important;
}



.homepage__splitter {
  display: flex;

  flex-direction: column;
  padding: 1rem;
  background: #23272A;

  padding-top: 2rem;
  padding-bottom: 2rem;

  .homepage__splitter__box--top {
    // margin-bottom: 2rem;
  }

  .homepage__splitter__divider {
    height: 2rem;
  }

  .homepage__splitter__box {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    color: #fdfdfd;

    p {
      color: #fdfdfd;
    }

    .homepage__splitter__box__button {
      display: inline-block;
      // width: 5rem;
      margin-top: 1.5rem;
      padding: 1.2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      background: #fdfdfd;
      border: 4px solid #00ffee;
      color: #404242;
      font-size: 2.4rem;
      box-shadow: -5px 5px 0px 0px #404242;
      transition: .2s box-shadow;
    }

    .homepage__splitter__box__button--pink {
      box-shadow: -5px 5px 0px 0px rgba(255,46,182,1);
    }

    .homepage__splitter__box__button--pink:hover {
      box-shadow: -5px 5px 0px 0px #404242!important;;
    }

    .homepage__splitter__box__button:hover {
      box-shadow: -5px 5px 0px 0px #fdfdfd;
    }

    .homepage__splitter__box__title {
      font-size: 2.6rem;
      line-height: 3.3rem;
      margin-bottom: 2rem;
      color: #fdfdfd;
    }
  }
}



.homepage__process__link {
  color: #404242;
  background: #fdfdfd;
  padding: 0.45rem;
  border: 5px solid #00ffee;
  box-shadow: -5px 5px 0px 0px rgba(255,46,182,1);
  transition: box-shadow .2s, color .2s;

  font-size: 1rem;

  position: relative;
  top: -4.2rem;
  left: 0rem;
  // left: 50%;
  // transform: translateX(-50%);
  // right: initial;
}

.homepage__process__link:hover {
  box-shadow: -8px 8px 0px 0px #404242;
  color: rgba(255,46,182,1);
}

.homepage__process {
  display: flex;
  flex-direction: column;
  // border: 5px solid #404242;
  // height: 9rem;

  margin-bottom: 4rem;

  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

  padding: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;

  // max-width: 500px;

  .homepage__process__title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .homepage__process__title {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1.5rem;
    display: inline-block;

    color: #404242;
    background: #fdfdfd;
    padding: 0.5rem;
    // border: 3px solid #00ffee;
    box-shadow: -3px 3px 0px 0px #404242;
  }


  .homepage__process__subtitle {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    color: #404242;
    background: #fdfdfd;
    padding: 0.5rem;
    box-shadow: -3px 3px 0px 0px #00ffee;
  }

  .homepage__process__text {
    margin-top: 0rem;
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    line-height: 1.6rem!important;
    color: #fdfdfd;

    color: #404242!important;;
    background: #fdfdfd;

    padding: 1.1rem;
    // padding-top: 0.7rem;
    // padding-bottom: 0.55rem;

    line-height: 1.5rem;
    // padding-left: 0.5rem;
    box-shadow: -5px 5px 0 0 #000;
  }

  .homepage__process__text--practice {

    b {
      display: block;
      font-size: 1.3rem;
      text-decoration: underline;
      text-decoration-color: #00ffee;
      margin-bottom: 0.4rem;
    }

    p {
      color: #404242;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem!important;
      line-height: 1.5rem;
    }
  }

}

@media screen and (min-width: 420px) {
  .homepage__tldr--last {
    margin-top: 1rem!important;
  }

  .homepage__splitter {
    .homepage__splitter__box {
      .homepage__splitter__box__title {
        font-size: 3rem;
        line-height: 4.5rem;
      }
    }
  }

  .homepage__tldr {

    h2 {
      width: 100px;
      font-size: 4rem;
      line-height: 5.2rem;
    }
  }


  .homepage__hero {
    .homepage__hero__title__secondary {
      margin-right: 0.6rem;
      margin-left: 0.6rem;
      margin-bottom: 4.5rem;
      font-size: 2.2rem;
      line-height: 3.6rem;
    }

    .header {
      margin-top: 3rem;
      margin-bottom: 1rem;

      top: -0.2rem;

      .header__links {
      }
    }
  }

  .homepage__section {
    margin: 2rem;
  }


  .homepage__section__closer {
    // margin: 2rem;
  }

  .homepage__section--no-margin {
    margin: 0!important;
  }

  .homepage__process {
    .homepage__process__subtitle {
      font-size: 1.4rem;
    }
  }

  .homepage__process__link {
    position: relative;
    top: -4.2rem;
    left: -1.5rem;
    right: 0rem;
  }
}


@media screen and (min-width: 768px) {
  .homepage__tldr--signature {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border: 4px solid #fdfdfd;
    color: #fdfdfd;
    background: #23272A;
    font-size: 1.4rem;
    margin: 1.6rem;
  }

  .homepage__splitter {
    .homepage__splitter__box {
      padding: 1rem;
      .homepage__splitter__box__title {
        font-size: 5rem;
        line-height: 5.8rem;
      }
    }

    .homepage__splitter__divider {
      height: 0;
    }

    .homepage__splitter__box--discord {
      // box-shadow: 0 14px 56px 0 white, 0 12px 29px 0 #fdfdfd;
      // padding: 1rem!important;
      justify-content: center!important;
    }

    .homepage__splitter__box--podcast {
      // padding: 1rem!important;
      // box-shadow: 0 14px 56px 0 white, 0 12px 29px 0 #fdfdfd;
      justify-content: center!important;
    }
  }

  .homepage__content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }

  .homepage__recovered__porn__addict__list {
    padding-left: 5px;

    .homepage__recovered__porn__item {
      margin-left: 1.4rem;
    }

    .homepage__recovered__porn__addict__spacer {
      margin-top: 1.5rem;
    }
  }

  .homepage__guide__wrapper {
    .homepage__guide {
      font-size: 1.6rem;
    }
  }

  .homepage__hero {
    .homepage__hero__title {

    }
    .homepage__hero__title__secondary {
      margin: 0 auto;
      margin-bottom: 4.5rem;
      width: 700px;
    }

    .header {
      .header__links {
        .header__link__wrapper--guide {
          display: block;
        }
      }
    }
  }

  .homepage__section {
    width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .homepage__section__closer {
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 16%;
    width: 600px;
  }


  .homepage__section--no-margin {
    margin: 0 auto!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  .homepage__section--adapt {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .homepage__hero {
    .header {
      .header__banner__home:hover {
        display: flex;
      }
      .header__banner__guide:hover {
        display: flex;
      }
      .header__banner__articles:hover {
        display: flex;
      }
      .header__banner__practices:hover {
        display: flex;
      }
      .header__banner__podcast:hover {
        display: flex;
      }
      .header__banner__community:hover {
        display: flex;
      }
      .header__banner__about:hover {
        display: flex;
      }

      #link__home:hover + .header__banner__home {
        display: flex;
      }
      #link__guide:hover + .header__banner__guide {
        display: flex;
      }
      #link__articles:hover + .header__banner__articles {
        display: flex;
      }
      #link__practices:hover + .header__banner__practices {
        display: flex;
      }
      #link__podcast:hover + .header__banner__podcast {
        display: flex;
      }
      #link__community:hover + .header__banner__community {
        display: flex;
      }
      #link__about:hover + .header__banner__about {
        display: flex;
      }
    }
  }

  .homepage__splitter--podcast {
    flex-direction: row!important;
  }

  .homepage__splitter--discord {
    flex-direction: row!important;
  }
  .homepage__splitter {
    align-items: center;
    justify-content: center;

    flex-direction: row;
    .homepage__splitter__box {
      max-width: 41rem;
    }

    .homepage__splitter__box--top {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .homepage__hero {
    .homepage__hero__title__secondary {

      width: 900px;
    }
  }
}



.cyan__box__border {
  border: 4px solid #00ffee;
  box-shadow: -3px 3px 0px 0px rgba(255,46,182,1);
  padding: 0.6rem;
  /* background: #23272A;
  color: #fdfdfd; */
  /* display: inline-block; */
}

.h1__black {
  display: flex;
  flex-direction: column;

  position: relative;
  background: #23272A;
  /* box-shadow: -7px 7px 0px 0px rgba(255,46,182,1); */
  color: #fdfdfd;
  padding: 1rem;

}

.box__abs {
  display: none;

  /* font-size: 2rem; */
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
}

.home__dot {
  display: none;
}

@media screen and (min-width: 420px) {
  .h1__black {
  }
}
@media screen and (min-width: 768px) {
  .h1__black {
    display: block;
    padding: 3rem;
    padding-bottom: 20rem;
  }
  .box__abs {
    display: block;
    padding: 1rem;
  }
  .home__dot {
    display: inline;
  }
}

.homepage__understand__nfd__method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  width: 100w;
  padding: 1rem;
  h2 {
    border: 1rem solid #404242;
    padding: 2rem;
  }
  h3 {
    border: 4px solid #00ffee;

    padding: 1.5rem;
    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: #fdfdfd;
  }
}

@media screen and (min-width: 420px) {
  .homepage__understand__nfd__method {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .homepage__understand__nfd__method {
    height: 100vh;
  }
}
