.index__container {
  margin-top: 3rem;
}

.index__container--courses {
  margin-top: 0.5rem;
}

.articles__list {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-bottom: 3rem;
  .article__item__wrapper {
    width: 100%;
    margin-bottom: 1.6rem;
    .article__item {
      font-size: 1.1rem;
      line-height: 1.7rem;
    }
  }
}

.articles__list__v2 {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.article__item__v2 {
  opacity: 1;
  // margin-bottom: 3rem;

  .article__item__v2__title {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 4.3rem;
  }
  .article__item__v2__description {
    font-weight: 400;
  }
}
.article__item__v2:hover {
  opacity: 0.7;
}

.list__wrapper {
  margin: 1rem;
  .list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 420px) {
  .article__item__v2 {
    .article__item__v2__title {
      font-size: 3.6rem;
      line-height: 5.1rem;
    }
  }

  .articles__list {
    .article__item__wrapper {
      .article__item {

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .articles__list__v2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .articles__list {
    .article__item__wrapper {
      margin-bottom: 1rem;

      .article__item {

      }
    }
  }
}


@media screen and (min-width: 1280px) {
  .articles__list {
    .article__item__wrapper {
      margin-bottom: 1rem;

      .article__item {

      }
    }
  }
}