.acc_class {
  position: absolute;
  top: 0;
}
.acc__word {
  color: red;
  font-size: 3.4rem;
}

.discord__banner {
  padding: 0.5rem;
  background: #23272A;
  margin-bottom: 3rem;

  .discord__banner__title {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .discord__banner__title--secondary {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    position: relative;
    padding: 2rem;

    background: white;
    // border: 4px solid cyan;
  }

  .discord__banner__title--special {
    // border: 16px solid cyan;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 32px solid rgba(255,46,182,1);
    padding: 2rem;

    // background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    // background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    // background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    // background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    // background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */    font-size: 3rem;
    // color: white;
  }

  .discord__banner__title--special--two {
    border: 36px solid cyan;
    overflow: hidden;
    // color: white;

    font-size: 2rem;
    line-height: 3rem;
    padding: 1rem;

  }

  .discord__banner__description {
    
  }
}
@media screen and (min-width: 420px) {
  .discord__banner {
    .discord__banner__title {
      padding: 0rem;
    }

    .discord__banner__title--special {
      // border: 16px solid cyan;
      font-size: 2.5rem;
      line-height: 3.5rem;
      border: 32px solid rgba(255,46,182,1);
    }

    .discord__banner__title--special--two {
      border: 48px solid cyan;
      overflow: hidden;
      // color: white;

      font-size: 4rem;
      line-height: 5.5rem;
    }
  }

}

@media screen and (min-width: 768px) {
  .discord__banner {
    padding: 5rem;

    .discord__banner__title--special--two {
      border: 64px solid cyan;
      overflow: hidden;
      font-size: 5rem;
      line-height: 7rem;
    }
  }
}


@media screen and (min-width: 1024px) {
  .discord__banner {
    padding: 5rem;

    .discord__banner__title--special {
      // border: 16px solid cyan;
      font-size: 4rem;
      line-height: 6.5rem;
      border: 64px solid rgba(255,46,182,1);
    }

    .discord__banner__title--special--two {
      border: 64px solid cyan;
      overflow: hidden;
      font-size: 8rem;
      line-height: 12rem;
    }
  }
}
