
/*blink Animation*/
@-moz-keyframes blink{
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes blink{
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes blink{
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}


@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-4.5rem); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 0; -moz-transform: translateY(0px); } // this originally wasn't here
	30% { opacity: 0; -moz-transform: translateY(8rem); }
	40% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-4.5rem); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 0; -webkit-transform: translateY(0px); } // this originally wasn't here
	30% { opacity: 0; -webkit-transform: translateY(8rem); }
	40% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-4.5rem); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 0; -ms-transform: translateY(0px); } // this originally wasn't here
	30% { opacity: 0; -ms-transform: translateY(8rem); }
	40% { opacity: 0; }
	100% { opacity: 0; }
}
/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-4.5rem); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 0; -moz-transform: translateY(0px); } // this originally wasn't here
	30% { opacity: 0; -moz-transform: translateY(8rem); }
	40% { opacity: 0; }
	100% { opacity: 0; }
}


// taken from https://codepen.io/amritleone/pen/qERPmW
.slidingVertical{
	display: inline;
	// text-indent: 8px;
}

.slidingVertical span{
  -webkit-animation: topToBottom 21s linear infinite 0s;
  -ms-animation: topToBottom 21s linear infinite 0s;
	animation: topToBottom 21s linear infinite 0s;
	color: #404242;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
	animation-delay: 3s;
}
.slidingVertical span:nth-child(3){
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
	animation-delay: 6s;
}
.slidingVertical span:nth-child(4){
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
	animation-delay: 9s;
}
.slidingVertical span:nth-child(5){
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
	animation-delay: 12s;
}
.slidingVertical span:nth-child(6){
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
	animation-delay: 15s;
}
.slidingVertical span:nth-child(7){
  -webkit-animation-delay: 18s;
  -ms-animation-delay: 18s;
	animation-delay: 18s;
}



// https://codepen.io/DreierDominic/pen/jKmwVv

.text-flicker-out-glow {
  -webkit-animation: text-flicker-out-glow 2.25s ease-in-out infinite both;
          animation: text-flicker-out-glow 2.25s ease-in-out infinite both;
}

@-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}


// https://codepen.io/YoMammaPenguin/pen/PNzyKP

.card_container {
  perspective: 900px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  width: 100%;
  height: 50px;

  .cyan__banner__title {
    font-size: 1rem;
    text-align: center;
  }
}

.front, .back {
  width: 100%;
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 1px;
  color: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.02), 0 17px 17px 0 rgba(0, 0, 0, 0.02);
  backface-visibility: hidden;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.card_container:hover .card {
  transform: rotateX(180deg);
}

.back {
  transform: rotateX(180deg);
}



@media screen and (min-width: 420px) {
  .card {
    .cyan__banner__title {
    }
  }
  .front, .back {
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 600px;
    height: 100px;
    .cyan__banner__title {
      font-size: 1.6rem;
    }

  }
  .front, .back {
    width: 600px;
    height: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    height: 140px;
  }
  .front, .back {
    height: 100px;
  }
}
