.meditation__banner {
  padding: 4rem;
  .meditation__banner__title {
    font-size: 3rem;
  }

  .meditation__banner__sub__title {
    font-weight: 400;
  }

  .meditation__banner__image__container {

  }
}

@media screen and (min-width: 420px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
