.fdm__banner {
  border-top: 4px solid cyan;
  border-bottom: 4px solid cyan;

  padding: 4rem;
  .fdm__banner__title {
    font-size: 3rem;
  }

  .fdm__banner__sub__title {
    font-weight: 400;
  }

  .fdm__banner__image__container {

  }
}