.fdm__banner {
  padding: 4rem;
  .fdm__banner__title {
    text-shadow: -6px -6px $cyan;
  }

  .fdm__banner__sub__title {
    font-weight: 400;
  }

  .fdm__banner__image__container {

  }
}

@media screen and (min-width: 420px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
