
.guide__banner {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  // border-top: 4px solid black;
  // border-bottom: 4px solid black;

  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

  .black__banner__title__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
  }

  .single__wrapper {
    margin: 0;
  }

  .summary__items {
    color: #404242;
    background: white;
    border: 4px solid white;
    padding: 1rem;
    box-shadow: -5px 5px 0px 0px #00ffee;
  }

  .summary__items--invert {
    color: white;
    background: black;
    // border: 4px solid white;
    border-right: 4px solid black;
    box-shadow: -5px 5px 0px 0px white;

    padding: 1rem;
  }

  h2, h3 {
    color: white;
  }

  h2 {
    // border: 4px solid black;
    text-shadow: -3px 3px rgba(255,46,182,1);
    box-shadow: -5px 5px 0px 0px white;
    padding: 1rem;
    background: #00ffee;
  }

  p {
    color: #404242;
    border: 4px solid white;
    padding: 1.4rem;

    // box-shadow: -5px 5px 0px 0px rgba(255,46,182,1);
    // text-decoration: underline;
    // text-decoration-color: white;
  }

  .guide__suggestion__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .guide__suggestion {
    display: flex;
    flex-direction: column;
  }
}

.guide__banner__title {
  text-align: center;
  text-shadow: -3px 3px white;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background: white;

  font-size: 2rem;
  line-height: 3rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.guide__suggestion__number--bottom {

  margin-top: 4rem;

  display: flex!important;
  align-items: center;
  justify-content: center;

  border: 4px solid black;
  background: white;
  box-shadow: -5px 5px 0px 0px #00ffee;
  margin-right: 1.4rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}
.guide__suggestion__number {
  display: none;
  color: #404242;
}
.guide__suggestion__title {
  display: flex;
  align-items: center;

  color: #404242;
  border: 4px solid black;
  background: white;
  box-shadow: -5px 5px 0px 0px #00ffee;
  padding-left: 2.4rem;
  padding-right: 2.4rem;

  padding: 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
}

.guide__link__container {
  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: white;

  padding: 1.2rem;

  .guide__link {
    display: inline-block;
    // background: white;

    border: 4px solid white;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;

    box-shadow: -5px 5px 0px 0px black;
    // text-shadow: -0px 0px rgba(255,46,182,1);
    background: white;
    color: #404242;

    transition: .2s;
  }

  .guide__link:hover {
    box-shadow: -5px 5px 0px 0px #00ffee;
  }

}



@media screen and (min-width: 420px) {
  .guide__banner {
    padding-left: 2rem;
    padding-right: initial;
    .single__wrapper {
      margin: 2rem;
    }

    h2 {
      border-right: none;
    }
  }

  .guide__banner__title {
    font-size: 3rem;
    line-height: 4rem;
  }

  .guide__banner {
    .black__banner__title__container {
      // width: 600px;
      width: 100%;
    }
    .guide__suggestion {
      flex-direction: row;
    }
  }
  .guide__suggestion__title {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 2.4rem;
    width: 100%;

  }

  .guide__suggestion__number--bottom {
    padding: 1rem;
  }

  .guide__suggestion__number {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid black;
    background: white;
    box-shadow: -5px 5px 0px 0px #00ffee;
    margin-right: 1.4rem;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
    min-width: 60px;
    min-height: 60px;
  }
  .guide__suggestion__number--bottom {
    margin-top: 2rem;
  }
}


@media screen and (min-width: 768px) {
  .guide__banner {
    .black__banner__title__container {
      width: 600px;
    }
    .guide__suggestion {
    }
  }
  .guide__suggestion__title {
    padding: 1.6rem;
    font-size: 1.4rem;
  }

  .guide__suggestion__number {
    margin-right: 1.4rem;
    padding: 1.6rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    width: 60px;
  }

  .guide__banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
  }
}


@media screen and (min-width: 1024px) {
  .guide__banner {
    .black__banner__title__container {
      width: 850px;
    }
  }
  .guide__suggestion__title {
    font-size: 1.6rem;
    padding: 1.6rem;
  }
  .guide__suggestion__number {
    font-size: 1.6rem;
    padding: 1.6rem;
  }

  .guide__banner {
    .single__wrapper {
      margin-left: 200px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .guide__banner {
    .single__wrapper {
      margin-left: 280px;
    }
  }
}