.unhealthy__banner {
  padding: 1rem;

  border-top: 4px solid black;
  border-bottom: 4px solid black;

  background: rgba(255,46,182,1);

  h2, h3 {
    color: white;
  }

  p {
    color: white;
  }

  .unhealthy__banner__title {
    margin-bottom: 3rem;
    max-width: 952px;
  }
}

.banner__input {
  font-weight: 900;
  font-size: 1rem;
  height: 2.8rem;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  padding-left: 0.8rem;
  margin-bottom: 0.6rem;
  flex: 3;
}

.banner__submit {
  flex: 1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  height: 2.8rem;
  width: 100%;
  border: 2px solid black;
  // padding: 0.2rem;
  box-shadow: -3px 3px 0px 0px black;
  cursor: pointer;
  transition: .1s;

  margin-left: 1rem;
  margin-right: 1rem;
}

.banner__submit:focus {
  outline: 0;
}

.banner__submit:hover {
  box-shadow: -6px 6px 0px 0px black;
}


@media screen and (min-width: 420px) {
  .unhealthy__banner, .guide__banner {
    padding-left: 2rem;
    padding-right: initial;
    .single__wrapper {
      margin: 2rem;
    }

    h2 {
      border-right: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    width: 600px;
  }
}
