.fdm__banner {
  .fdm__banner__title {
    // text-shadow: 2px -3px #00ffee;
    text-shadow: 12px -32px $cyan;
    color: $magenta!important;
  }

  .fdm__banner__sub__title {
    font-weight: 400;
  }

  .fdm__banner__image__container {

  }
}

@media screen and (min-width: 420px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
