.seven__day__kickstarter__banner {
  background: $white-text;
  border-top: 4px solid $black-text;
  border-bottom: 4px solid $black-text;

  .seven__day__kickstarter__banner__inner {
    padding: 1.4rem;
  }

  .banner__empty {
    height: 5rem;
    background: $white-text;
  }

  .banner__cyan {
    height: 2rem;
    background: $cyan;
  }

  .banner__magenta {
    height: 2rem;
    background: $magenta;
  }

  .banner__white {
    height: 2rem;
    background: $white-text;
  }
}

.seven__day__kickstarter__learn__more {
  line-height: 1.6rem;
  color: $cyan;
  transition: .1s text-shadow;
  text-shadow: -1px 1px $black-text;
}

.seven__day__kickstarter__learn__more:hover {
  text-shadow: -2px 2px $magenta;
}

.seven__day__kickstarter__banner__title {
  text-shadow: 2px -2px $cyan;
  background: -moz-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $magenta), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: $white-text;
  padding: 1rem;
  display: inline-block;
  // border: 4px solid $black-background;
  box-shadow: -6px 6px 0px 0px $cyan;
  transition: .2s;
}

.seven__day__kickstarter__banner__sub__title {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.8rem;
}

.seven__day__kickstarter__banner__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.seven__day__kickstarter__banner__list {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  flex: 1;

  .seven__day__kickstarter__banner__item {
    display: inline-block;
    // border: 3px solid $cyan;
    box-shadow: -3px 3px 0px 0px $cyan;
    margin: 0.1rem;
    padding: 0.4rem;
    transition: .2s;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    width: 95%;
    cursor: default;

    background: -moz-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $magenta), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, $magenta 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: $white-text;
  }

  .seven__day__kickstarter__banner__item:hover {
    // box-shadow: -5px 5px 0px 0px $white-text;
  }

  .seven__day__kickstarter__banner__item--page {
    display: inline-block;
    border: 3px solid $cyan;
    box-shadow: -3px 3px 0px 0px $white-text;
    margin: 0.1rem;
    padding: 0.4rem;
    transition: .2s;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    width: 95%;
  }
}

.seven__day__kickstarter__banner__form {
  flex: 1;
  padding: 1rem;
  border: 2px solid $black-background;
  max-width: 400px;

  margin-top: 2.5rem;
  margin-bottom: 3rem;
  margin-left: 0rem;

  p {
    margin-top: 0.4rem;
  }

  form {
    display: flex;
  }
}


@media screen and (min-width: 420px) {
  .seven__day__kickstarter__banner {
  }
  .seven__day__kickstarter__banner__list {

    .seven__day__kickstarter__banner__item {
      width: initial;
    }
  }
}


@media screen and (min-width: 768px) {
  .seven__day__kickstarter__banner {
    .seven__day__kickstarter__banner__inner {
      .seven__day__kickstarter__banner__title:hover {
        box-shadow: -18px 18px 0px 0px $white-text;
      }
    }
  }

  .seven__day__kickstarter__banner__box {
    flex-direction: row;
  }
  .seven__day__kickstarter__banner__form {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 3rem;
  }

  .seven__day__kickstarter__banner__list {

    .seven__day__kickstarter__banner__item {
      width: initial;
      font-size: 0.9rem;
      box-shadow: -5px 5px 0px 0px $cyan;
      margin: 0.1rem;
      margin-top: 0.2rem;
      margin-right: 0.4rem;
      padding: 0.6rem;
      transition: .2s;

      margin-top: 0.4rem;
    }

    .seven__day__kickstarter__banner__item--page {
      width: initial;
      font-size: 0.9rem;
      box-shadow: -5px 5px 0px 0px $white-text;
      margin: 0.1rem;
      margin-top: 0.2rem;
      margin-right: 0.4rem;
      padding: 0.6rem;
      transition: .2s;

      margin-top: 0.4rem;
    }

    .seven__day__kickstarter__banner__item:hover {
      box-shadow: -8px 8px 0px 0px $white-text;
    }
  }
}


@media screen and (min-width: 1024px) {
  .seven__day__kickstarter__banner {
  }
  .seven__day__kickstarter__banner__list {

    .seven__day__kickstarter__banner__item {
      font-size: 1.1rem;
    }
  }
}

// @media screen and (min-width: 1280px) {

// }


