.mobile__banner {
  padding: 4rem;
  .mobile__banner__title {
    font-size: 3rem;
  }

  .mobile__banner__sub__title--ios {
    width: 500px;
  }

  .mobile__banner__sub__title {
    font-weight: 400;
  }

  .mobile__banner__image__container {
    
  }
}

.mobile__android__link {

  .mobile__android__link__image {
    width: 200px;
  }
}

.mobile__banner__screenshot {
  width: 300px;
}
