.hovering__banner {
  padding: 4rem;

  .hovering__banner__title {
    text-shadow: 10px 10px $magenta;
  }
  .hovering__banner__sub__title {
    font-weight: 400;
  }
}

.hovering__banner__link {
  display: inline-block;

  background: white;
  color: black;
  position: relative;
  box-shadow: -5px 5px 0px 0px black;

  font-size: 1.1rem;
  padding: 0.8rem;
  text-align: center;

  border: 4px solid;
  border-image-source: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%);
  border-image-slice: 1;
  transition: .3s;
  cursor: pointer;

  margin: 0.59rem;
  margin-bottom: 1.6rem;
  margin-right: 1.2rem;
}

.hovering__banner__link:hover {
  box-shadow: -9px 9px 0px 0px black;
}

.banner__split__container {
  display: flex;
  .banner__split {
    flex: 4;
  }

  .banner__split--right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.banner__split__divider {
  flex: 1;
}

.circle__container {
  box-shadow: 0 14px 56px 0 rgba(0, 0, 0, 0.2), 0 12px 29px 0 rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;

  .circle {
    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

    transition: .6s;
    border-radius: 50%;

    font-size: 1.2rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    .circle__text {
      opacity: 1;
      transition: 1s;
      font-size: 2rem;

      color: $white-text;
    }
  }
  .circle__some:hover {
    transform: scale(1.03);
  }
}

.cr {
  animation: floatPure 6s ease-in-out infinite;
  z-index: 2;

  width: 300px;
  height: 300px;

  .cri {
    width: 300px;
    height: 300px;
  }
}

.hover__text__fade {
  opacity: 0!important;
  // color: transparent;
  transition: 1s;
}

.hover__text__unfade {
  opacity: 1!important;
  // color: transparent;
  transition: 1s;
}

#contentText {
  font-size: 2rem;
  opacity: 0;
}
