.dark__mode__button--homepage {
  right: initial;
}

.login__top {
  // display: none;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #00ffee;
  border-bottom: 5px solid #00ffee;
  // padding-top: 2rem;
  // border-bottom: 5px solid #00ffee;

  min-height: 3rem;

  // width: 100vw;


  .mobile__menu__overlay__button {
    display: flex;

    .mobile__span {
      background: black;
      height: 3px;
      box-shadow: -2px 2px 0px 0px #00ffee;
  
      transition: .2s box-shadow;
    }
  }

  .mobile__menu__overlay__button:hover .mobile__span {
    box-shadow: -2px 2px 0px 0px white;
  }

  .login__top__title {
    display: none;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    padding: 0!important;
  }

  .login__top__button--link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  
  .login__top__button:hover {
    box-shadow: -8px 8px 0px 0px rgb(249, 104, 84);
  }

  .login__top__button__register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      height: 2.2rem;
      min-width: 6rem;
  
      margin-bottom: 1rem;
  
      cursor: pointer;
  
      margin-right: 0.6rem;
      box-shadow: -5px 5px 0px 0px #00ffee;
  
      transition: box-shadow .3s;
      .login__top__button__text {  
        color: black;
        font-size: 0.9rem; 
      }
    }    
    
    a:hover {
      box-shadow: -8px 8px 0px 0px rgb(249, 104, 84);
    }
  }
}

.account__buttons__login {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 160px;

  // margin-top: 1rem;
  // margin-right: 1rem;
}

@media screen and (min-width: 420px) {
  .account__buttons__login {
    margin-top: 0;
    flex-direction: row;
  }

  .login__top {
    display: flex;
    .login__top__button {
      margin-bottom: 0;
    }
    .login__top__title {
      padding: 1rem;
      margin-right: 1rem;      
    }
  }  
  
}


@media screen and (min-width: 768px) {
  .login__top {
    .login__top__title {
      display: block;
    }
  }  
}

// @media screen and (min-width: 1280px) {

// }