.dark__mode__button--homepage {
  right: initial;
}

.login__top {
  // display: none;
  justify-content: center;
  align-items: center;
  border-top: 5px solid $cyan;
  border-bottom: 5px solid $cyan;
  // padding-top: 2rem;
  // border-bottom: 5px solid $cyan;

  min-height: 3rem;

  // width: 100vw;


  .mobile__menu__overlay__button {
    display: flex;

    .mobile__span {
      background: $black-background;
      height: 3px;
      box-shadow: -2px 2px 0px 0px $cyan;

      transition: .2s box-shadow;
    }
  }

  .mobile__menu__overlay__button:hover .mobile__span {
    box-shadow: -2px 2px 0px 0px $white-text;
  }

  .login__top__title {
    display: none;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    padding: 0!important;
  }

  .login__top__button--link {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .login__top__button:hover {
    box-shadow: -8px 8px 0px 0px rgb(249, 104, 84);
  }
}

.login__top__button__register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    background: $white-text;
    color: $black-text;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $black-background;
    height: 2.2rem;
    min-width: 6rem;

    margin-bottom: 1rem;

    cursor: pointer;

    margin-right: 0.6rem;
    box-shadow: -5px 5px 0px 0px $cyan;

    transition: box-shadow .3s;
    .login__top__button__text {
      color: $black-text;
      font-size: 0.9rem;
    }
  }

  a:hover {
    box-shadow: -8px 8px 0px 0px rgb(249, 104, 84);
  }
}

.account__buttons__login {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 160px;

  // margin-top: 1rem;
  // margin-right: 1rem;
}

@media screen and (min-width: 420px) {
  .account__buttons__login {
    margin-top: 0;
    flex-direction: row;
  }

  .login__top {
    display: flex;
    .login__top__button {
      margin-bottom: 0;
    }
    .login__top__title {
      padding: 1rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .login__top--without--mobile {
    .login__top__title {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .login__top {
    .login__top__title {
      display: block;
    }
  }
}


// @media screen and (min-width: 1280px) {

// }

// .account__learn__more--visible {
//   visibility: visible;
// }

.account__learn__more {
  // visibility: hidden;
  position: relative;

  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fading 1.2s forwards;
  transition: all .25s ease-in-out;

  
  .account__learn__more--label {
    position: relative;
    top: 0;
  
    transition: 0.3s;

    max-width: 600px;

    cursor: pointer;
    color: cyan;
    z-index: 100;
  }

  .account__learn__more--label:hover  {
    top: 0.3rem;  
  }
  .account__learn__more--dropdown {
    // display: none;
    max-width: 600px;

    position: absolute;
    // display: none;
    transform: translateX(-100%);
    transition: .5s;
    opacity: 0;
    // height: 0px;
  }
  .account__learn__more--title {

  }
  .account__learn__more--list {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;

    .account__learn__more--item {
      background: $white-text;
      position: relative;
      display: inline-block;
      margin-bottom: 0.8rem;
      margin-right: 1rem;
      transition: border-bottom .1s, color .1s;
      font-size: 1.05rem;
      line-height: 1.6rem;
      padding: 0.6rem;
      border: 4px solid $magenta;
      box-shadow: -5px 5px 0px 0px $cyan;
      color: $black-text!important;;
      transition: box-shadow .2s;    
      font-weight: 900;
    }

    .account__learn__more--item:hover {
      // border-bottom: none!important;
      color: lighten($magenta, 15%);
      box-shadow: -8px 8px 0px 0px $black-text;
      border-bottom: 4px solid $magenta!important;
    }
  }
}

.account__learn__more__dropdown--open {
  transition: .4s;

  display: flex!important;
  flex-direction: column;
  position: relative!important;

  transform: translateX(0)!important;
  opacity: 1!important;
}

@keyframes close_learn_more {
  0% {
    height: 500px;
  }
  80% {
    height: 500px;
    transform: translateX(-100%)!important;
  }
  100% {
    height: 0px;
  }
}


.account__learn__more__dropdown--close {
  transition: .4s;

  display: flex!important;
  flex-direction: column;
  position: relative!important;

  animation: close_learn_more .5s forwards;
}

@media screen and (min-width: 768px) {
  .account__learn__more {
    margin: 0;
    margin-top: 1rem;
  }
}
