<div class="dashboard__collection__files">
  <div class="dashboard__collection__file__container">
    <%= Enum.map(@collection.files, fn (file) -> %>
      <%= partial "dashboard/file_item.html", %{ conn: @conn, file: file, collection: @collection, has_premium_rights: @has_premium_rights, type: @type } %>
    <% end) %>
  </div>
</div>
