<ul class="dashboard__index">
  <li class="link"><a href="#access__modules">Why can't I access some modules?</a></li>
  <li class="link"><a href="#why__cant__subscribe">Why can't I subscribe to all my courses?</a></li>
  <li class="link"><a href="#end__of__course">What happens once I reach the end of a course?</a></li>
  <li class="link"><a href="#switch__course">What happens if I decide to switch courses?</a></li>
</ul>
