<ul class="dashboard__index">
  <li class="link"><a href="#information">Information</a></li>
  <li class="link"><a href="#modules">Modules</a></li>
  <%= if !@has_premium_rights do %>
    <li class="link"><a href="#payment">Payment</a></li>
  <% end %>
</ul>
