.account {
  padding: 4rem;
}

.account__title {

}

.account__title__left {
  // text-shadow: -2px 2px 0px cyan;
}

.right__background {

}

.account__main__left__bottom, .account__main__right__bottom {

}

.account__main__description {
  .account__main__description__initial {
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 600px;
  }
  p {
    
  }
  ul {
    li {
      
    }
  }
}

.account__main__return {
  
}

.account__main {

  .account__main__left {

  }
  .account__main__middle {

  }
  .account__main__right {

  }
}


@media screen and (min-width: 420px) {
  .account__main {

    
    .account__main__left {
    }
    .account__main__middle {
    }  
    .account__main__right {
    }
  }
}

@media screen and (min-width: 768px) {
  .account__main {

    
    .account__main__left {
    }
    .account__main__middle {

    }  
    .account__main__right {
    }
  }
}

@media screen and (min-width: 1280px) {
  .account__main {

    .account__main__left {

    }
    .account__main__right {
      
    }
  }
}