.seven__day__kickstarter__banner {
  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  color: white;

  border-top: 4px solid black;
  border-bottom: 4px solid black;

  .seven__day__kickstarter__banner__inner {
    padding: 1.4rem;
  }

  .banner__empty {
    height: 5rem;
    background: white;
  }

  .banner__cyan {
    height: 2rem;
    background: cyan;
  }

  .banner__magenta {
    height: 2rem;
    background: rgba(255,46,182,1);
  }

  .banner__white {
    height: 2rem;
    background: white;
  }


  .seven__day__kickstarter__banner__title {
    text-shadow: -2px 2px cyan;
  }

  .seven__day__kickstarter__banner__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .seven__day__kickstarter__banner__list {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    flex: 1;

    .seven__day__kickstarter__banner__item {
      display: inline-block;
      border: 3px solid cyan;
      box-shadow: -5px 5px 0px 0px white;
      // margin-top: 0!important;
      // margin-bottom: 0.4rem!important;
      margin: 0.1rem;
      padding: 0.6rem;
      transition: .2s;
    }
    .seven__day__kickstarter__banner__item:hover {
      box-shadow: -8px 8px 0px 0px white;

    } 
  }

  .seven__day__kickstarter__banner__form {
    flex: 1;
    padding: 1rem;
    border: 1px solid black;
    max-width: 400px;

    form {
      display: flex;
    }
  }
}

.simple__banner {
  .simple__banner__title {
    display: inline-block;
    background: cyan;
    color: white;
    box-shadow: -5px 5px 0px 0px black;
  } 
}

.unhealthy__banner {
  padding: 1rem;

  border-top: 4px solid black;
  border-bottom: 4px solid black;

  background: rgba(255,46,182,1);

  h2, h3 {
    color: white;
  }

  p {
    color: white;
  }

  .unhealthy__banner__title {
    margin-bottom: 3rem;
    max-width: 952px;

  }
}

.guide__banner {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  border-top: 4px solid black;
  border-bottom: 4px solid black;

  background: cyan;

  .single__wrapper {
    margin: 0;
  }

  .summary__items {
    color: black;
    background: white;
    border: 4px solid white;
    padding: 1rem;
  }

  .summary__items--invert {
    color: white;
    background: black;
    // border: 4px solid white;
    border-right: 4px solid black;
    box-shadow: -5px 5px 0px 0px white;

    padding: 1rem;
  }

  .guide__link__container {
    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: white;
    }

  .guide__link {
    display: inline-block;
    // background: white;

    border: 4px solid white;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;

    box-shadow: -5px 5px 0px 0px black;
    // text-shadow: -0px 0px rgba(255,46,182,1);
    background: white;
    color: black;

    transition: .2s;
  }

  .guide__link:hover {
    box-shadow: -5px 5px 0px 0px cyan;
  }

  h2, h3 {
    color: white;
  }

  h2 {
    border: 4px solid white;
    text-shadow: -3px 3px rgba(255,46,182,1);
    padding: 1rem;
  }

  p {
    color: black;
    border: 4px solid white;
    padding: 1.4rem;

    // box-shadow: -5px 5px 0px 0px rgba(255,46,182,1);
    // text-decoration: underline;
    // text-decoration-color: white;
  }

  .guide__banner__title {
    text-shadow: -3px 3px white;

  }
}

.banner__input {
  font-weight: 900;
  font-size: 1rem;
  height: 2.8rem;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  padding-left: 0.8rem;
  margin-bottom: 0.6rem;
  flex: 3;
}

.banner__submit {
  flex: 1;
  font-weight: 900;   
  font-size: 1rem;     
  height: 2.8rem;
  width: 100%;
  border: 2px solid black;
  // padding: 0.2rem;
  box-shadow: -3px 3px 0px 0px black;
  cursor: pointer;
  transition: .1s;

  margin-left: 1rem;
  margin-right: 1rem;
}

.banner__submit:focus {
  outline: 0;
}

.banner__submit:hover {
  box-shadow: -6px 6px 0px 0px black;
}


@media screen and (min-width: 420px) {
  .simple__banner {
    .simple__banner__title {

    }
  }
  .unhealthy__banner, .guide__banner {
    padding-left: 2rem;
    padding-right: initial;
    .single__wrapper {
      margin: 2rem;
    }

    h2 {
      border-right: none;
    }
  }  
}

@media screen and (min-width: 768px) {
  .single__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    width: 600px;
  }
  .simple__banner {
    .simple__banner__title {

    }
  }
  .unhealthy__banner, .guide__banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;

    .unhealthy__banner__title {
      margin-bottom: 6rem;
    }  
  }  

  .seven__day__kickstarter__banner {
    .seven__day__kickstarter__banner__box {
      flex-direction: row;
    }
  }
}


@media screen and (min-width: 1024px) {
  .unhealthy__banner, .guide__banner {
    .single__wrapper {
      margin-left: 200px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .unhealthy__banner, .guide__banner {
    .single__wrapper {
      margin-left: 280px;
    }
  }
}