.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  .button__cyan {
    background: -moz-linear-gradient(45deg, purple 0%, cyan 100%)!important; /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, purple), color-stop(100%, cyan))!important; /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, purple 0%, cyan 100%)!important; /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, purple 0%, cyan 100%)!important; /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, purple 0%, cyan 100%)!important; /* ie10+ */
    background: linear-gradient(45deg, purple 0%, cyan 100%)!important; /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 )!important; /* ie6-9 */
  }

  .button__black_and_white {
    font-size: 0.85rem!important;
    line-height: 1.1rem!important;
    background: white!important;
    border: 4px solid black!important;
    color: black!important;
    width: 80%;
  }

  .button__secondary {
    padding: 0.7rem!important; 
  }
  
  .button {
    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: white;
  
    box-shadow: -5px 5px 0px 0px black;
  
    color: white;
    border: 4px solid white;
  
    padding: 0.8rem; 
    cursor: pointer;
  
    transition: box-shadow .3s, bottom .3s, left .3s;

    font-size: 1.4rem;
    line-height: 2.15rem;
  }
  
  .button:hover {
    box-shadow: -10px 10px 0px 0px cyan;
    bottom: -5px;
    left: -5px;
  }
  
  .button:focus {
    outline: 0;
  }
}

@media screen and (min-width: 420px) {
  .button__wrapper {
    justify-content: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .button {
      padding: 1rem; 
      // font-size: 1.4rem;  
    }

    .button__secondary {
      font-size: 1.1rem!important;
    }
  
  }
}


@media screen and (min-width: 768px) {
  .button__wrapper {
    .button {
      font-size: 1.7rem;  
      padding: 1.25rem;
    }
  }
}

// @media screen and (min-width: 1280px) {

// }