.form__container {

  .form__label {
    color: black;
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .help-block {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .error__label__combo {
    display: flex;
    align-items: center;
  }
}


@media screen and (min-width: 420px) {
  .form__container {

    .form__label {
      
    }
  }
}

@media screen and (min-width: 768px) {
  .form__container {

    .form__label {
      
    }
  }
}

@media screen and (min-width: 1280px) {
  .form__container {

    .form__label {
      
    }
  }
}