$cyan: #00ffee;
$magenta: rgba(255,46,182,1);

$white-text: #fdfdfd; // used as header for darkmode
$white-darkmode-text: #dcddde; // #dcddde #e7e7e7

$black-header-text: #181818;
$black-text: #2e2e2e; // #404242 #2e2e2e
$black-background: black; // #23272A

$black-darkmode-background: #23272A;
