$cyan: #00ffee;
$magenta: rgba(255,46,182,1);

$white-text: #fdfdfd; // used as header for darkmode
$white-darkmode-text: #e7e7e7; // #dcddde

$black-header-text: #181818; // #404242
$black-text: #2e2e2e; // #404242
$black-background: black; // #23272A

$black-darkmode-background: #23272A;
