.hub {
  display: flex;
  flex-direction: column;

  .hub__bottom {
    display: flex;
  }
}

.hub__dashboard, .hub__profile {
  padding: 4rem;
  width: 100%;

  background: rgb(230, 229, 229);

  .hub__main__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .hub__main__area {
    display: flex;
    flex-direction: column;
    
    padding: 3rem;
    background: white;
    
    p {
      font-size: 1.2rem;
    }  

    h3 {
      font-size: 1.3rem;
    }
  }
}

.hub__main__audio {
  
}

@media screen and (min-width: 420px) {
  .hub {
  }
}

@media screen and (min-width: 768px) {
  .hub {
  }
}

@media screen and (min-width: 1280px) {
  .hub {
  }
}