.hub {
  display: flex;
  flex-direction: column;

  .hub__bottom {
    display: flex;
    flex-direction: column;
  }
}

.hub__dashboard, 
.hub__profile, 
.hub__audio__courses, 
.hub__email__challenges {
  box-sizing: border-box;
  padding: 0.5rem;
  padding-top: 2rem;
  width: 100%;

  background: rgb(230, 229, 229);

  .hub__main__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.hub__main__area {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  padding: 0.5rem;
  padding-top: 2rem;
  background: white;
  
  .hub__main__area__content {
    width: 100%;
    margin-bottom: 2rem;

    .status {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  h2 {
    margin-bottom: 1rem;  
  }

  h3 {
    font-size: 1.3rem;
  }

}

.hub__main__audio, .hub__main__email {
  margin-bottom: 2rem;
  
  .email__collection {
    border: 4px solid black;
    padding: 1rem;
    margin-bottom: 1rem;

    h3 {
      margin-top: 0.5rem;

    }

    .email__collection__bottom {
      display: flex;
      align-items: center;
      
      justify-content: space-between;
      width: 100%;
    }
  }

  .audio__collection {
    h3 {
      
    }

  }

  p {

  }
}


.delete__button {
  color: red!important;
}

.profile__options__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 420px) {
  .hub {
  }


}

@media screen and (min-width: 768px) {
  .hub__dashboard, 
  .hub__profile, 
  .hub__audio__courses, 
  .hub__email__challenges {
    padding: 3rem;
  }

  .hub {
    .hub__bottom {
      flex-direction: row;
    }
  }
  .hub__main__area {
    padding: 2rem;
    .hub__main__area__content {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hub {
  }
}