* {
  font-family: 'Monserrat',  'Noto Sans', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

html {
  position: relative;
  height: 100%;
}

body {
  // width: 100%;
  // box-sizing: border-box;
  // border: 5px solid black;
  margin: 0!important;
  background: rgb(253, 253, 253);

  // background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  // background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  // background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  // background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}



h1 {
  font-size: 3rem;
  color: black;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  color: black;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  color: black;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: black;
}

p, b { 
  font-size: 1.1rem;
  line-height: 1.6rem;   
  color: black;
}

ul {
  li {
    color: black;
  }
}

.articles__link {
  display: inline-block;
  margin-bottom: 1.5rem;
  transition: border-bottom .1s, color .1s;
  font-size: 1.05rem;
  line-height: 1.6rem;
}

.articles__link:hover {
  border-bottom: none!important;
  color: lighten(rgba(255,46,182,1), 15%);
}

.link {
  color: rgba(255,46,182,1);
  text-decoration-line: underline;
  text-decoration-color: cyan;
}

.link:hover {
  border-bottom: 2px solid cyan;
}

.deluxe__font {
  font-family: 'Parisienne', cursive; 
}

.logo__square {
  position: relative;
  right: 0.2rem;
  top: -1.3rem;
  width: 14px;
  height: 14px;  
}  

@media screen and (min-width: 420px) {
  body {
    // margin: 0.5rem!important;
    // width: initial;
  }

  .em-rainbow {
    display: inline-block;
  }
}