* {
  font-family: 'Lato', 'Monserrat', sans-serif;

  // Maybe Open Sans for just h1 or h2

  // Helvetica maybe for titles?
  // So I LOVE Noto Sans for Chrome, however it looks terrible for Safari, so Lato has been the compromise.
  // font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

body {
  // display: flex;
  width: 100%;
  box-sizing: border-box;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  margin: 0!important;
  background: rgb(253, 253, 253);
  position: relative;
  height: initial!important;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

p { 
  // font-size: 1.19rem;
  font-size: 1.15rem;
  line-height: 1.8rem;    
}

input, label, button {
  font-family: 'Noto Sans', sans-serif;
}

.articles__link {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  transition: border-bottom .1s, color .1s;
  font-size: 1.05rem;
  line-height: 1.6rem;
  padding: 0.6rem;
  border: 4px solid rgba(255,46,182,1);
  box-shadow: -5px 5px 0px 0px #00ffee;
  color: black!important;
  transition: box-shadow .2s;
}

.articles__link:hover {
  // border-bottom: none!important;
  color: lighten(rgba(255,46,182,1), 15%);
  box-shadow: -8px 8px 0px 0px black;
  border-bottom: 4px solid rgba(255,46,182,1)!important;
}


.articles__link--magenta {
  display: inline-block;
  margin-bottom: 1.5rem;
  transition: border-bottom .1s, color .1s;
  font-size: 1.05rem;
  line-height: 1.6rem;
  padding: 0.6rem;
  border: 4px solid #00ffee;
  box-shadow: -5px 5px 0px 0px black;
  color: black!important;
  transition: box-shadow .2s;
  background: white;
}

.articles__link--magenta:hover {
  // border-bottom: none!important;
  color: lighten(black, 15%);
  box-shadow: -8px 8px 0px 0px rgba(255,46,182,1);
}

.articles__link--register {
  display: inline-block;
  // margin-bottom: 1.5rem;
  transition: border-bottom .1s, color .1s;
  font-size: 1.05rem;
  line-height: 1.6rem;
  padding: 0.6rem;
  border: 4px solid black;
  box-shadow: -5px 5px 0px 0px #00ffee;
  transition: box-shadow .2s;
  background: white;
  color: black!important;
  cursor: default;
}

.articles__link--register:hover {
  // border-bottom: none!important;
  color: lighten(black, 15%);
  box-shadow: -8px 8px 0px 0px rgba(255,46,182,1);
}


.link {
  color: rgba(255,46,182,1);
  text-decoration-line: underline;
  text-decoration-color: #00ffee;

  // border: 4px solid rgba(255,46,182,1);
  // box-shadow: -5px 5px 0px 0px #00ffee;
  // padding: 0.2rem;
}

.link:hover {
  border-bottom: 2px solid #00ffee;
}

hr {
  border: 0;
  border-bottom: 1px solid black;
}

.hr2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  // box-shadow: -5px 5px 0px 0px black;
}

.hr2__bottom {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  // box-shadow: -5px 5px 0px 0px black;
}


.hr3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hr3__bottom {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


.hr4 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hr4__bottom {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


.hrul {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hrul__bottom {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.deluxe__font--only {
  font-family: 'Parisienne', cursive; 
  font-size: 1.5rem;
  position: relative;
  top: -0.1rem;
}

.deluxe__font {
  font-family: 'Parisienne', cursive; 
}

.logo__square {
  position: relative;
  right: 0.2rem;
  top: -1.3rem;
  width: 14px;
  height: 14px;  
}  

.cursor__default {
  cursor: default;
}

// EMOJI

.em {
  position: relative;
  top: -0.1rem;
}

.em-innocent {
  top: 0;
}

.em-x, .em-cake, .em-bank {
  position: relative;
  left: 0.2rem;
  top: 0;
}

.em-ambulance {
  position: relative;
  left: 0.2rem;

}

.em-rainbow {
  display: none;
}

.em-white_check_mark {
  display: none!important;
  position: relative;
  left: 0.7rem;
  width: 30px;
}

.em-blush {
  position: relative;
  left: 0.24rem;
  width: 30px;
}

.em-tent {
  position: relative;
  top: -0.4rem;
}

@media screen and (min-width: 420px) {
  body {
    margin: 0.5rem!important;
    width: initial;
  }

  .em-white_check_mark {
    display: inline-block!important;
  }

  .em-rainbow {
    display: inline-block;
  }
}

.contact__form__title-thing {
  display: none;
}
.contact__form__title-thing:hover {
  color: lighten(rgba(255,46,182,1), 10%);
}

.none {
  display: none;
}


#choice_over_mind_posts {
  display: none;
}
#balance_over_reward_posts {
  display: none;
}
#strugle_over_none_posts {
  display: none;
}
#awareness_over_all_posts {
  display: none;
}
#uncondition_over_judgement_posts {
  display: none;
}


#latest__posts {
  display: none;
}


.calendly-badge-widget {
  .calendly-badge-content {
    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
    color: white;
  
    box-shadow: -5px 5px 0px 0px #00ffee;
  
  
    padding: 0.6rem; 
    cursor: pointer;
  
    transition: box-shadow .3s, bottom .3s, left .3s;

    line-height: 2.15rem;

    border: 4px solid black;
    background: white!important;
    color: black!important;
    border-radius: 0;
    font-size: 1rem;
  }

  .calendly-badge-content:hover {
    box-shadow: -10px 10px 0px 0px #00ffee;
    bottom: -5px;
    left: -5px;
  }
}