.main__dark {
  background: $black-darkmode-background;
  transition: 1s background, 1s color;

  .page__index__title {
    color: $black-darkmode-background!important;
  }

  strong {
    text-decoration: underline;
  }

  // main
  .link {
    color: $cyan;
    text-decoration-line: underline;
    text-decoration-color: $magenta;
    cursor: pointer;
  }

  .link:hover {
    border-bottom: 2px solid $white-darkmode-text;
  }

  // homepage
  .homepage__section {
    h1, h2, h3, h4, h5 {
      color: $white-text;
    }
    p, ul, li, span {
      color: $white-darkmode-text;
    }
    li {
      text-decoration-color: $white-darkmode-text;
    }
    .five__principles__guide__item {
      color: $white-darkmode-text;
      border-bottom: 5px solid $white-darkmode-text;
    }
    .five__principles__guide__item:before {
      background: $magenta;
    }

    .five__principles__item__main, .five__principles__item__main__judgement {
      color: $white-darkmode-text;
    }
    .five__principles__item__main:before, .five__principles__item__main__judgement:before {
      background: $magenta;
    }

  }

  // Cookies popup
  .cookies__popup__container {
    border: 4px solid $white-darkmode-text;

    background: $black-darkmode-background;
    color: $white-darkmode-text;

    .cookies__popup__container__inner {
      p {
        color: $white-darkmode-text;
      }
      .cookies__button {
        p {
          color: $black-text;
        }

        color: $black-text;
        border: none;
      }
    }
  }

  // Footer
  .footer {
    .footer__links {
      .footer__link__wrapper {
        .footer__link  {
          color: $white-darkmode-text!important;
        }
      }
      .footer__link__wrapper:hover .footer__link{
        color: $black-darkmode-background!important;;
      }
    }
  }

  .five__principles__list__page {
    .five__principles__item__page {
      color: $magenta;
    }
  }

  .podcast__banner__cyan__circle {
    z-index: 0;
  }

  .podcast__banner__description {
    position: absolute;
    bottom: 0;
  }


  .guide__suggestion__number {
    color: $black-darkmode-background!important;;
  }

  .veteran__row {
    a {
      background: $white-text;
      color: $black-darkmode-background!important;;
    }
    h2, h3, h4, p {
      color: $white-darkmode-text;
    }
  }

  .reddit__question__banner, .account__buttons {
    h2 {
      color: $white-text;
    }
    p, a {
      color: $white-darkmode-text;
    }
  }

  .banner__new__to__nfd {
    h2, h4, h3, h5, p, a {
      background: $white-text;
      color: $black-darkmode-background!important;;
    }
    .banner__new__to__nfd__title--2nd {
      background: initial!important;
      color: $white-darkmode-text!important;
    }
    h1 {
      color: $white-text!important;
    }
  }

  .comment__list {
    h1, h2, h3, h5 {
      color: $white-text!important;
    }
    p {
      color: $white-darkmode-text!important;
    }
    .comment__user__item__name, .comment__message {
      color: $white-darkmode-text!important;
    }
  }

  .comment__create__message__title, .comment__create__message__sub__title  {
    color: $white-text!important;
  }

  .single__wrapper {
    .single__title {
      color: $white-text;
    }

    h1, h2 {
      color: $white-text;
    }

    p {
      color: $white-darkmode-text;
    }

    .podcast__item {
      border: 4px solid $white-darkmode-text;
    }

    .popular__latest__options__title {
      color: $white-darkmode-text;
    }
    .articles__link {
      background: $white-text;
    }
  }

  .button__click {
    background: $white-text;
    color: $black-darkmode-background!important;;
  }

  .single__content {
    h3 {
      color: $white-darkmode-text;
    }
  }

  hr {
    border-bottom: 1px solid $cyan;
  }

  .account__info, .login__top {
    background: $white-text;
    // color: $white-darkmode-text;
  }

  // .account__info, .login__top {
  //   background: $black-darkmode-background;
  //   color: $white-darkmode-text;
  // }
  // #dark__mode__button {
  //   color: $black-darkmode-background;
  // }


  .footer__designed {
    color: $white-darkmode-text;
  }

  .footer__link {
    color: $white-darkmode-text;
  }


  .articles__list__v2 {

  }
  .article__item__v2__description {
    color: $white-darkmode-text;
  }

  .article__item__v2 {
    opacity: 1;
    // margin-bottom: 3rem;

    .article__item__v2__title {
      color: $white-darkmode-text;
    }
  }
  .article__item__list {
    li {
      color: $white-darkmode-text;
    }
  }
  .homepage__tiny {
    color: $white-darkmode-text;
  }

  // NOTE: Maybe shouldn't be in dark mode.

  // .bottom__bar__container {
  //   background: $black-darkmode-background;
  //   .header__module {
  //     background: $black-darkmode-background;

  //     .header__discord__button {
  //       border: 4px solid $black-darkmode-background;
  //     }
  //   }

  // }
  // .bottom__bar__meditation__top {
  //   color: $white-darkmode-text;
  // }

  .banner__title,
  .banner__sub__title,
  .banner__item
  // .pricing__banner__title,
  // .pricing__guarantee__item,
  // .pricing__banner__description,
  // .pricing__banner__point,
  // .pricing__sign__in__title,
  // .nfd__payment p
  {
    color: $white-darkmode-text!important;
  }

  // .mobile__banner {
  //   .mobile__banner__image__container {
  //     img {
  //       box-shadow: 0 27px 55px 0 rgba(255, 255, 255, 0.22), 0 17px 17px 0 rgba(255, 255, 255, 0.22);
  //     }
  //     img:hover {
  //       box-shadow: 0 47px 85px 0 rgba(255, 255, 255, 0.26), 0 37px 37px 0 rgba(255, 255, 255, 0.22);
  //     }
  //   }
  // }

  .account__learn__more--title {
    color: $white-darkmode-text;
  }
}