.main__dark {
  background: #23272A;

  .link {
    color: white;
    text-decoration-line: underline;
    text-decoration-color: rgba(255,46,182,1);
    cursor: pointer;
  }
  
  .link:hover {
    border-bottom: 2px solid white;
  }
  
  // Cookies popup
  .cookies__popup__container {
    border: 4px solid white;

    background: #23272A;
    color: white;
  }

  // Footer
  .footer {
    .footer__links { 
      .footer__link__wrapper {
        .footer__link  {
          color: white!important; 
        }
      }
      .footer__link__wrapper:hover .footer__link{
        color: black!important; 
      }
    }  
  }

  .five__principles__list__page {
    .five__principles__item__page {
      color: rgba(255,46,182,1);
    }
  }

  .podcast__banner__cyan__circle {
    z-index: 0;
  }

  .podcast__banner__description {
    position: absolute;
    bottom: 0;
  }


  .guide__suggestion__number {
    color: black!important;
  }

  .veteran__row {
    a {
      background: white;
      color: black!important;
    }
    h2, h3, h4, p {
      color: white;
    }
  }

  .reddit__question__banner, .account__buttons {
    h2, p, a {
      color: white;
    }
  }

  .banner__new__to__nfd {
    h2, h4, h3, h5, p, a {
      background: white;
      color: black!important;
    }
    .banner__new__to__nfd__title--2nd {
      background: initial!important;
      color: white!important;
    }
    h1 {
      color: white!important;
    }
  }
  
  .comment__list {
    h1, h2, h3, h5, p {
      color: white!important;
    }
    .comment__user__item__name, .comment__message {
      color: white!important;
    }
  }

  .comment__create__message__title, .comment__create__message__sub__title  {
    color: white!important;
  }

  .single__wrapper {
    h1, h2, p {
      color: white;
    }

    .podcast__item {
      border: 4px solid white;
    }

    .popular__latest__options__title {
      color: white;
    }
    .button__click {
      background: white;
    }
    .articles__link {
      background: white;
    }
  }

  .single__content {
    color: white;

    hr {
      border-bottom: 1px solid #00ffee;
    }
  }

  .account__info, .login__top {
    background: white; 
    // color: white;
  }

  .footer__designed {
    color: white;
  }

  .footer__link {
    color: white;
  }

}