
// this set of styling concatenates with the below set of styling.
.posts {
  .post {
    padding: 0!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    .post__left {
      .post__title {
        font-size: 1.4rem!important;
        line-height: 2.2rem!important;  
      }
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;

  .post {
    display: flex;
    justify-content: space-between;
    position: relative;

    background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */
  
    margin-bottom: 2rem;
    box-shadow: -5px 5px 0px 0px black;
    color: white;
    border: 4px solid white;
    // background: black;

    padding: 1rem;      
    cursor: pointer;

    .post__left {
      .post__date {

      }
      .post__title {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    .post__right {
      display: flex;
      align-items: center;
      .post__image {
        height: 110px;
      }
    }
  }
}

.posts--guide {
  min-height: 16rem;
}


@media screen and (min-width: 420px) {
  .posts {
    .post {
      bottom: 0;
      left: 0;
      position: relative;
      transition: box-shadow .15s, bottom .15s, left .15s;
    }

    .post:hover {
      box-shadow: -10px 10px 0px 0px cyan;
      bottom: -5px;
      left: -5px;
    }
  }  
}

@media screen and (min-width: 768px) {
  .posts {
    .post {
    }
  }  
}


@media screen and (min-width: 1280px) {
  .posts {
    .post {

    }
  }  
}