
.comment__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 3rem;
}

.comment__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  box-sizing: border-box;
  // border: 4px solid black;

  padding: 1rem;

  margin-bottom: 2rem;

  .comment__top__row {

  }

  .comment__user__item {
    display: flex;

    .comment__user__item--left {
      .comment__user__item__avatar {
        height: 75px;
        width: 75px;
        // border: 4px solid black;
      }
    }

    .comment__user__item--right {
      padding-left: 1.4rem;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // justify-content: space-between;

      margin-bottom: 1rem;

      .comment__user__item__name {
        font-size: 1.3rem;
        margin-bottom: 0.6rem;
      }
      .comment__user__item__date {
        cursor: pointer;
      }
    }
  }
  .comment__message {
    padding: 1rem;
    margin-top: 1rem;
  }
  .comment__reply {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-top: 2rem;
    .comment__reply__button {
      margin-right: 1rem;
    }
  }
}



.comment__create__message {
  .comment__create__message__title {
    font-size: 2rem;
    scroll-margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.comment__create__message__sub__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.comment__reply__container__open {
  display: none;
  width: 100%;
  margin-top: 2rem;
  border-left: 14px solid rgba(255,46,182,1);
  padding-left: 1.6rem;
  box-sizing: border-box;
}

.comment__reply__cancel__button {
  display: none;
  cursor: pointer;
}

.comment__reply__button__container {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding-left: 1.4rem;
}

.no__comments__container {
  border-left: 12px solid #00ffee;
  padding-left: 1.6rem;
  // padding: 1rem;
  margin-bottom: 1.6rem;
}

.comment__item__0 {
  border-left: 6px solid #00ffee;
}
.comment__item__1 {
  border-left: 12px solid rgba(255,46,182,1);
}
.comment__item__2 {
  border-left: 18px solid #00ffee;
}
.comment__item__3 {
  border-left: 24px solid rgba(255,46,182,1);
}
.comment__item__4 {
  border-left: 30px solid #00ffee;
}
.comment__item__5 {
  border-left: 36px solid rgba(255,46,182,1);
}
.comment__item__6 {
  border-left: 42px solid #00ffee;
}
.comment__item__7 {
  border-left: 48px solid rgba(255,46,182,1);
}
.comment__item__8 {
  border-left: 54px solid #00ffee;
}
.comment__item__9 {
  border-left: 60px solid rgba(255,46,182,1);
}
.comment__item___ {
  border-left: 66px solid #00ffee;
}

@media screen and (min-width: 420px) {

  .comment__item__0 {
    border-left: 12px solid #00ffee;
  }
  .comment__item__1 {
    border-left: 24px solid rgba(255,46,182,1);
  }
  .comment__item__2 {
    border-left: 36px solid #00ffee;
  }
  .comment__item__3 {
    border-left: 48px solid rgba(255,46,182,1);
  }
  .comment__item__4 {
    border-left: 60px solid #00ffee;
  }
  .comment__item__5 {
    border-left: 72px solid rgba(255,46,182,1);
  }
  .comment__item__6 {
    border-left: 84px solid #00ffee;
  }
  .comment__item__7 {
    border-left: 96px solid rgba(255,46,182,1);
  }
  .comment__item__8 {
    border-left: 108px solid #00ffee;
  }
  .comment__item__9 {
    border-left: 120px solid rgba(255,46,182,1);
  }
  .comment__item___ {
    border-left: 132px solid #00ffee;
  }

  .comment__item {
    .comment__user__item {

      .comment__user__item--left {
        .comment__user__item__avatar {
          height: 155px;
          width: 155px;
        }
      }
    }
  }
}

.comment__create__message__promotion {
  margin-bottom: 2rem;
  padding: 1rem;
  line-height: 1.8rem;
  border: 4px solid #00ffee;
  // background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  // background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  // background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  // background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  // color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

  .comment__create__message__promotion__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    .google__button__icon {
      height: 23px;
    }
  }
}

.comment__create__message__promotion__buttons--button {
  display: flex;
  align-items: center;
  height: 45px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  border: 3px solid black!important;
  margin-top: 0!important;
}