.account__info--margin-top {
  margin-top: 3rem;
}

.show__large {
  display: none;
}

.banner__points {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin__top__mobile {
  margin-top: 3rem;
}

.account__info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #00ffee;
  border-bottom: 5px solid #00ffee;
  // padding-top: 2rem;
  // border-bottom: 5px solid #00ffee;

  min-height: 3rem;

  // width: 100vw;

  .account__info__title {
    margin-right: 0.5rem;
    font-size: 0.9rem;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }


  .account__info__button--link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .account__info__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 2.6rem;
    min-width: 6.5rem;

    margin-bottom: 1rem;

    cursor: pointer;

    margin-right: 0.6rem;
    box-shadow: -5px 5px 0px 0px #00ffee;

    transition: box-shadow .3s;
    .account__info__button__text {
      color: #404242;
      font-size: 0.9rem;
    }
  }

  .account__info__button:hover {
    box-shadow: -8px 8px 0px 0px rgb(249, 104, 84);
  }

  .account__info__button__register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

.account__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 134px;

  margin-top: 1rem;
  margin-right: 1rem;
}

.account__patreon__button__text--display {
  display: none;
}

@media screen and (min-width: 420px) {
  .account__patreon__button__text--display {
    display: inline;
  }


  .account__buttons {
    margin-top: 0;
    flex-direction: row;
  }

  .account__info {
    .account__info__button {
      margin-bottom: 0;
    }
    .account__info__title {
      padding: 1rem;
      margin-right: 1rem;
    }
  }
  .banner__points {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}


@media screen and (min-width: 768px) {
  .account__info--margin-top {
    margin-top: 0;
  }
  .show__large {
    display: block;
  }
  .banner__points {
  }

  .margin__top__mobile {
    margin-top: 1rem;
  }
}

// @media screen and (min-width: 1280px) {

// }