.account__buttons {

  .account__instagram__button__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    // background: #2AA3F0;
    box-sizing: border-box;
    width: 7.7rem;
    height: 2.25rem;
    border: 2px solid $black-background;

    padding: 0.3rem;
    // padding: 0.8rem;
    margin: 0!important;
    cursor: pointer;

    .account__instagram__button__text {
      color: $black-text;
      margin: 0;
      font-size: 0.69rem;
      position: relative;
      letter-spacing: 0.5px;
      // top: 0.05rem;
      right: 0.27rem;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
  }

  .account__instagram__button__container:hover {
    opacity: 0.9;
  }
}

.account__instagram__button__logo {
  width: 23px;
  height: 23px;

  position: relative;
  left: 0rem;
}

.account__instagram__button__text--display {
  display: none;
}

@media screen and (min-width: 420px) {
  .account__instagram__button__text--display {
    display: inline;
  }

  .account__buttons {

    .account__instagram__button__container {
      width: 11.5rem;
    }
  }
}

@media screen and (min-width: 768px) {

}

// @media screen and (min-width: 1280px) {

// }