<div class="hub__audio__courses">
  <h2 class="hub__main__title">Audio Courses</h2>
  
  <div class="hub__main__area">
    <p>Come back soon!</p>
    <div class="hub__main__audio">

    </div>
  </div>
</div>