<div class="hub__email__challenges">
  <h2 class="hub__main__title">Email Campaigns</h2>
  
  <div class="hub__main__area">
    <p><%= @file.display_name %></p>

    <div class="hub__main__audio">

    </div>
  </div>
</div>