<div class="dashboard__email__challenges">
  <h2 class="dashboard__main__title">Premium Courses</h2>
  <div class="dashboard__main__back__container">
    <a class="dashboard__main__back" href="/dashboard">
      Back to Dashboard
    </a>
  </div>

  <div class="dashboard__main__area">
    <div class="dashboard__main__area__content">
      <%= partial "dashboard/course_list.html", %{ conn: @conn, collections: @dashboard_collections.courses } %>
    </div>
  </div>
</div>