<div class="hub__dashboard">
  <h2 class="hub__main__title">Dashboard</h2>
  
  <div class="hub__main__area">
    <p>Welcome to the NeverFap Deluxe </p>
    

    <div class="hub__main__audio">

    </div>

  </div>
  
</div>