<div class="hub__email__challenges">
  <h2 class="hub__main__title">Email Challenges</h2>
  
  <div class="hub__main__area">
    <p>I am currently in the process of building a seven day kickstarter email campaign.</p>
    <p>Come back soon!</p>

    <div class="hub__main__audio">

    </div>
  </div>
</div>