<div class="hub__profile">
  <h2 class="hub__main__title">Profile</h2>
  
  <div class="hub__main__area">
    <div class="hub__main__area__content">
      <h3>Options</h3>

      <%= link "Send reset password email", to: Routes.pow_reset_password_reset_password_path(@conn, :new), class: "button subscribe__button" %>

      <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "button subscribe__button hub__header__logout" %>
    </div>
  </div>
</div>