.hub {
  display: flex;
  flex-direction: column;

  .dashboard__bottom {
    display: flex;
    flex-direction: column;
  }
}

.dashboard__index {
  display: flex;
  flex-direction: column;
  li {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    border-bottom: 2px solid #fdfdfd;
    transition: .4s color;
    a {
      color: #404242;
      text-decoration: none;
      transition: .4s color;
    }
    a:hover {
      color: rgba(255, 46, 182, 1);
    }
  }
  li:hover {
    color: #00ffee;
    border-bottom: 2px solid #fdfdfd;
  }
}

.dashboard,
.dashboard__profile,
.dashboard__collection,
.dashboard__collection {
  box-sizing: border-box;
  padding: 0rem;
  padding-top: 2rem;
  width: 100%;

  background: rgb(230, 229, 229);

  .dashboard__title {
    background: #fdfdfd;
    border: 4px solid #00ffee;
    padding: 3rem;

    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 3rem;
  }

  .dashboard__title--email {
  }
}

.dashboard__main__back__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .dashboard__main__back {
    background: #fdfdfd;
    border: 4px solid rgba(255, 46, 182, 1);
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #404242;
    transition: 0.2s box-shadow;
  }

  .dashboard__main__back:hover {
    box-shadow: -5px 5px 0px 0px #00ffee;
  }
}

.dashboard__section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-bottom: 4rem;
  // box-shadow: -5px 5px 0px 0px rgba(255,46,182,1);
  // border: 4px solid rgba(255,46,182,1);

  padding: 1rem;
  padding-top: 2rem;
  background: #fdfdfd;


  .dashboard__section__content {
    width: 100%;

    .dashboard__section__content__title {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .status {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.3rem;
    text-shadow: 3px 3px #00ffee;
  }
}

.dashboard__main__collection {
  margin-bottom: 2rem;

  .collection {
    display: flex;
    justify-content: space-between;
    border: 4px solid #23272A;
    padding: 1.6rem;
    margin-bottom: 1rem;

    h2, h3, h4, p {
      margin: 0rem;
    }

    .collection__top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: space-between;
      // align-items: center;
      width: 650px;

      .collection__top__type {
        // border-left: 4px solid #00ffee; // rgba(255,46,182,1)
        padding: 0.6rem;
        // box-shadow: -5px 5px 0px 0px #00ffee;
      }

      .collection__top__name {
        border-left: 4px solid #00ffee;
        padding: 0.8rem;
        font-size: 2.8rem;
        line-height: 3.9rem;
        margin-bottom: 1rem;
      }

      .collection__top__price {

      }

      .collection__top__description {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .collection__bottom {
      display: none;

      .collection__bottom--image--container {
        display: flex;

        .collection__bottom-image {
          width: 150px;
        }
      }
    }
  }

  .audio__collection {
    h3 {
    }
  }

  p {
  }
}

.delete__button {
  color: red !important;
}

.profile__options__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#the-final-countdown {
  /* margin-top: 1.6rem; */
  display: flex;
  align-items: center;

  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #404242;
  padding: 1rem;
  font-size: 3rem;
  border: 4px solid #23272A;
  background: #fdfdfd;
}

#the-final-countdown p {
  margin-top: 0!important;
  margin-bottom: 0!important;
  font-size: 1.1rem;
}

.dashboard__button__collection {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

@media screen and (min-width: 420px) {
  .dashboard__collection {
    padding: 0.5rem;
  }
  .hub {
  }
}

@media screen and (min-width: 768px) {
  .dashboard__main__collection {
    .collection {
      .collection__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  .dashboard__main__back__container {
    align-items: flex-start;
    flex-direction: row;
  }

  #the-final-countdown {
    padding: 0.67rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dashboard,
  .dashboard__profile,
  .dashboard__collection {
    padding: 3rem;
  }

  .hub {
    .dashboard__bottom {
      flex-direction: row;
    }
  }
  .dashboard__section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .dashboard__section__content {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hub {
  }
}


.available__subscriptions__container {
  display: flex;
  flex-direction: column;

  .available__subscriptions__item {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 4px solid #23272A;

    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 1rem;

    .new__available__subscriptions__item {
      top: -1rem;
    }

    .available__subscriptions__item--title {

    }


    .available__subscriptions__item--button {
      display: inline-block;
      font-size: 0.85rem;
      line-height: 1.1rem;
      background: #fdfdfd;
      border: 4px solid #23272A;
      color: #404242;

      // margin-top: 0.5rem;
      // margin-bottom: 2rem;

      // box-shadow: -5px 5px 0px 0px #00ffee;
      padding: 0.6rem;
      cursor: pointer;

      transition: box-shadow .3s, bottom .3s, left .3s;
    }

    .available__subscriptions__item--button:hover {
      box-shadow: -5px 5px 0px 0px #00ffee;
      bottom: -5px;
      left: -5px;
    }

    .available__subscriptions__item--button:focus {
      outline: 0;
    }

    .available__subscriptions__item--status {

    }
  }
}

.manage__body {
  display: none;
}

.top__container__available {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection__bottom--benefits {
  margin-top: 1rem;

  .collection__bottom--benefit {
    border: 2px solid #23272A;
    width: 175px;
    padding: 0.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.dashboard__active__collections {
  .dashboard__active__collection__item {
    display: flex;
    flex-direction: column;
    // border: 4px solid #23272A;
    // padding: 0.6rem;

    a {
      color: #404242;
    }
    h3 {
      transition: .2s;
    }
    h3:hover {
      text-shadow: 5px 5px rgba(255,46,182,1);
    }
  }

  .active__collection__item__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
}

.active__collection__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}


@media screen and (min-width: 550px) {
  .dashboard__active__collections {
    .active__collection__item__bottom {
      padding-top: 0rem;
      padding-bottom: 0rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .active__collection__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
  }
}
