<div class="magenta__banner">
  <div class="magenta__banner__title__container">
    <h2 class="magenta__banner__title">You see, overcoming porn addiction isn't really about <span class="text-flicker-out-glow">porn</span>.</h2>
  </div>
</div>
