<div class="black__banner">
  <div class="black__banner__title__container">
    <h2 class="black__banner__title" style="margin-bottom: 3rem;">Ultimately, there are three broad healthy coping mechanisms</br> <span class="black__banner__broad">NeverFap Deluxe</span> focuses on.</h2>
    <h1 class="black__banner__title black__banner__title--cat">Awareness</h1>
    <h1 class="black__banner__title black__banner__title--cat">Calmness</h1>
    <h2 class="black__banner__title">&</h2>
    <h1 class="black__banner__title black__banner__title--cat">Ambition</h1>
  </div>
</div>
