<div class="homepage__section">
  <h1>Who?</h1> <!-- The Reade&copy; -->
  <p style="margin-top: 2.5rem;">My name is Julius Reade and I'm a recovered porn addict. <i class="em em-blush"></i></p>
  <ul class="homepage__recovered__porn__addict__list">
    <span><li class="homepage__recovered__porn__addict__item__lead">I no longer crave porn. <i class="em em-white_check_mark"></i></li></span>
    <span><li class="homepage__recovered__porn__addict__item">I no longer watch porn.</li></span>
    <span><li class="homepage__recovered__porn__addict__item">I don't even think about porn, at all.</li></span>
    <div class="homepage__recovered__porn__addict__spacer"></div>
    <span><li class="homepage__recovered__porn__addict__item__lead">I no longer obsess over women in public. <i class="em em-white_check_mark"></i></li></span>
    <span><li class="homepage__recovered__porn__addict__item">I no longer view women any differently to men.</li></span>
    <span><li class="homepage__recovered__porn__addict__item">I no longer judge women in any capacity.</li></span>
    
    <div class="homepage__recovered__porn__addict__spacer"></div>
    <span><li class="homepage__recovered__porn__addict__item__lead">I have control over my mind and my thoughts. <i class="em em-white_check_mark"></i></li></span>
    <span><li class="homepage__recovered__porn__addict__item">I'm conscious of my feelings and emotions.</li></span>
    <span><li class="homepage__recovered__porn__addict__item">I'm comfortable with my emotions, both positive and negative.</li></span>

    <div class="homepage__recovered__porn__addict__spacer"></div>
    <span><li class="homepage__recovered__porn__addict__item__lead">I accept myself for who I am. <i class="em em-white_check_mark"></i></li></span>
    <span><li class="homepage__recovered__porn__addict__item">I'm happy, motivated, confident and ambitious.</li></span>
    <span><li class="homepage__recovered__porn__addict__item">I'm unafraid of being vulnerable.</li></span>
  </ul>
</div>