<!DOCTYPE html>
<html lang="en">
  <%= partial "head_general.html", assigns %>

  <body>
    <%= partial "header.html", assigns %>

    <main role="main" class="main" id="content">
      <!-- The 404 page should be a page that has all the content on the website. -->
      <div class="single__wrapper">   
        <h1 class="single__title">404 <img src="/images/logo.png" class="logo__square" alt=""/><a href="#contact__form" class="link contact__form__title-thing" style="margin-left: 1rem;"><p style="display: inline-block;">#contact form</p></a></h2>
        <div class="single__content" style="margin-bottom: 0;">
          <p>Unfortunately, the page you're looking for doesn't exist.</p>
          <p>That's okay. You're still no less of an amazing individual.</p>
          <a class="link articles_link"href="/">Home</a>
        </div>
      </div>

      <%= partial "links/patreon.html", assigns %>

    </main>
    <%= partial "footer.html", assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>