<div class="posts">
  <div class="articles__list__v2">
    <%= Enum.map(@items, fn(item) -> %>
      <%= if Enum.find(item["tags"], &(&1 == "meditation")) do %>
        <%= partial "list/articles_item_v2.html", %{ conn: @conn, page_symbol: @page_symbol, slug: item["slug"], title: item["title"], description: item["description"], tldr1: item["tldr1"], tldr2: item["tldr2"], tldr3: item["tldr3"] } %>
      <% end %>
    <% end ) %>
  </div>
</div>
